// *************************************
//
//   Navigation
//   -> Header Navigation
//
// *************************************

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $b-space-3x;
    z-index: 950;
    backface-visibility: hidden;

    @media print {
        display: none;
    }

}

.navigationSide{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    z-index: 950;
    backface-visibility: hidden;

    @media  print, screen and (max-width: $g-m) {
        display: none;
    }
    
}

// -------------------------------------
//   Structure
// -------------------------------------

.navigation-button{
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: $b-space-3x;
    height: $b-space-3x;
    margin-left: -$b-space-1o5x;
    pointer-events: auto;
    transition: left $t-speed;

    &:nth-of-type(2){
        margin-left: 0;
    }

    .icon{
        position: relative;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }

    @media screen and (max-width: $g-m) {
        transition: left $t-speed-s ease;
    }

    .is-open &{

        @media screen and (max-width: $g-m) {
            left: 100%;
        }
    }

}

// -------------------------------------
//   Modifiers
// -------------------------------------

.navigation-button .icon{
    fill: $c-canvasBg0;
}
