// *************************************
//
//   Table
//
// *************************************

.table{
    display: table;
    width: 100%;
    height: 100%;
}

// -------------------------------------
//   Structure
// -------------------------------------

.table-cell{
    display: table-cell;
}

.table-cell--middle{
    vertical-align: middle;
}