/* line 7, ../../sass/components/table.scss */
.table {
  display: table;
  width: 100%;
  height: 100%; }

/* line 17, ../../sass/components/table.scss */
.table-cell {
  display: table-cell; }

/* line 21, ../../sass/components/table.scss */
.table-cell-middle {
  vertical-align: middle; }
