<nav class="navigation">
	<a ui-sref='home()' class="navigation-button bcr">
		<div svg id="logo-main" fallback="logoFallback" class="hf"></div>
	</a>
</nav>

<section class="row">
	<div class="well">
		
		<div class="cell cell--m">
			<h2 class="h2 h2--mbl tac">Mike Hurwitz</h2>
			
			<div class="section">

				<h4 class="h4 bc2">Experience</h4>

				<div class="section-inner">
					<h3 class="h3"><a href="https://google.com" target="_blank">Google</a></h3>
					<p class="p p--h">Software Engineer, June 2019 - Current</p>
					<ul class="list p">
						<li>Work within the Knowledge Graph to build tools to help engineers and contractors understand the graph, including searching, inspecting, and explaining how data exists within the ecosystem.</li>
						<li>Design and develop an application in <strong>Go</strong> and <strong>Angular</strong> that is used to review and verify data changes within the knowledge graph aimed to increase throughput and accuracy of reviews.</li>
						<li>Create extension for a tool written in <strong>Go</strong> used to help explain how information travels through various systems, allowing improved debugging capability and speed leading to faster code fixes by engineers.</li>
					</ul>
				</div>
				
				<div class="section-inner">
					<h3 class="h3"><a href="https://www.myvest.com/" target="_blank">MyVest</a></h3>
					<p class="p p--h">Senior Software Engineer, Jan 2018 - May 2019</p>
					<ul class="list p">
						<li>Worked with <strong>Angular</strong> and <strong>AngularJS</strong> to build a new financial advisor portal within cloud-based enterprise platform, allowing advisors to make informed financial decisions.</li>
						<li>Assisted in project to upgrade application from <strong>AngularJS</strong> to <strong>Angular</strong>, <strong>TypeScript</strong>, and <strong>ES6</strong>.</li>
						<li>Trained colleagues on front end code base, end-to-end tests, and new technologies introduced into application creating a more well-rounded team.</li>
						<li>Thoroughly reviewed coworkers' code, paying attention to the minute details and highlighting discrepancies leading to reduced technical debt.</li>
					</ul>
					<p class="p p--h">Software Engineer, Jan 2017 - Jan 2018</p>
					<ul class="list p">
						<li>Designed and developed front end of an <strong>Angular</strong> application that connects to and aggregates users' accounts, enabling users to track their debt and create a plan towards financial freedom.</li>
						<li>Advocated for, contributed to, and led projects to improve standards of application, including coding and style guides leading to improved efficiency.</li>
						<li>Contributed to unit and end-to-end testing ensuring quality in product and reducing production issues.</li>
					</ul>
				</div>

				<div class="section-inner">
					<h3 class="h3"><a href="http://rightbrainmedia.com/" target="_blank">RiGHT BRAiN MEDiA</a></h3>
					<p class="p p--h">Web Developer, Sep 2015 - Jan 2017</p>
					<ul class="list p">
						<li>Worked as a part of a team developing SPAs utilizing the <strong>MEAN Stack</strong> (<strong>MongoDB</strong>, <strong>Express</strong>, <strong>AngularJS</strong>, <strong>Node.js</strong>).</li>
						<!-- <li><em>Communicated continually</em> with engineering, design, and project leads. Delivered progress updates and help meet rapid lifecycle of product development deadlines.</li> -->
						<!-- <li>Contributed to continuous improvement of projects, executing new features and refactoring as needed.</li> -->
						<li>Developed logic and architecture for an interactive map which calculates the quickest route and toll cost of a trip across multiple expressways.</li>
					</ul>
				</div>

				<div class="section-inner">
					<h3 class="h3"><a href="http://monstermedia.net" target="_blank">Monster Media</a></h3>
					<p class="p p--h">Web Developer, Dec 2014 - Sep 2015</p>
					<ul class="list p">
						<li>Using <strong>CakePHP</strong> and <strong>AngularJS</strong>, worked on web applications and mobile sites of varying function, from custom internal tools to a client facing interactive mobile game.</li>
					</ul>
				</div>

				<div class="section-inner">
					<h3 class="h3"><a href="http://bigeyeagency.com" target="_blank">BIGEYE Agency</a></h3>
					<p class="p p--h">Web Developer, Mar 2012 - Dec 2014</p>
					<ul class="list p">
						<li>Developed websites while collaborating with the art department in all stages of projects, advocating for design consistency and the user experience.</li>
					</ul>
				</div>
			
			</div>

			<div class="section">

				<h4 class="h4 bc3">Education</h4>
				
				<div class="section-inner">
					<h3 class="h3">University of Central Florida</h3>
					<p class="p p--h">Bachelor of Arts in Digital Media, 2011</p>
				</div>
			
			</div>

			<h3 class="h3 resumeLine">
				<span class="resumeLine-infoWrap">
					<a href="mailto:mike@hrwtz.com" class="resumeLine-link">mike@hrwtz.com</a>
					<span class="resumeLine-dot">•</span>
					<a href="tel:415.912.0050" class="resumeLine-link">415.912.0050</a>
					<span class="print-only"><br><a href="http://hrwtz.com">hrwtz.com</a> <span class="resumeLine-dot">•</span> San Francisco, California</span>
				</span>
				<span class="resumeLine-iconWrap">
					<a href="resume.pdf" target="_self" download="Mike Hurwitz - Software Engineer Resume.pdf" class="resumeLine-icon resumeLine-icon--pdf">
						<span svg id="icon-pdf" title="Download PDF"></span>
					</a>
				</span>
			</h3>
		</div>	
	</div>
</section>