// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .cell[.cell--s]
//   / ...
//
// *************************************

.cell{
    position: relative;
    width: 100%;
    max-width: $b-maxWidth;
    margin-right: auto;
    margin-left: auto;

    @media print {
        max-width: none;
    }

}


// -------------------------------------
//   Structure
// -------------------------------------


// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.cell--s{
    max-width: $b-maxWidth-s;

    @media print {
        max-width: none;
    }
}

.cell--m{
    max-width: $b-maxWidth-m;

    @media print {
        max-width: none;
    }
}

.cell--half{
    float: left;
    width: 50%;
    max-width: none;
    height: 100%;

    @media print {
        width: 100%;
    }

}

.cell-content--left{
    float: right;
    padding-left: $b-space;
    padding-right: 25%;

    @media print {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }

}

.cell-content--right{
    float: left;
    padding-right: $b-space;
    padding-left: 25%;

    @media print {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }

}