// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .cell[.cell--s]
//   / ...
//
// *************************************

.cell{
    position: relative;
    float: left;
    width: 50%;
    max-width: $b-maxWidth;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //
