// *************************************
//
//   Navigation
//   -> Header Navigation
//
// *************************************

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $b-space-3x;
    z-index: 950;
    //pointer-events: auto;
    @include backface-visibility(hidden);

    @media print {
        display: none;
    }

}

.navigationSide{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    z-index: 950;
    @include backface-visibility(hidden);

    @media print {
        display: none;
    }
    
}

// -------------------------------------
//   Structure
// -------------------------------------

.navigation-clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    clip: rect(auto,auto,auto,auto);
}

.navigation-list{
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: $b-space-3x;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    @include transition($t-trans-easeInBack);
    pointer-events: auto;
    font-family: $b-fontFamily-heading;
    line-height: $b-space-3x;
    text-align: right;
    text-transform: uppercase;
    .is-open &{
        @include transition($t-trans-easeOutBack);
        left: 0;
        width: 50%;
        padding-right: $b-space-3x;
    }
}

.navigation-item{
    display: inline-block;

    &:last-of-type{
        margin-right: $b-space;
    }
}

.navigation-item-link{
    padding: 0 $b-space-o25x;
}

.navigation-button{
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: $b-space-3x;
    height: $b-space-3x;
    margin-left: -$b-space-3x;
    pointer-events: auto;

    &:nth-of-type(2){
        margin-left: 0;
    }

    .icon{
        position: relative;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }

}

.navigation-hamburger{
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 40%;
    height: 2px;
    margin-top: -1px; 
    margin-left: -20%;
    
    /* Set Up lines */
    .navigation-hamburger-center,
    &:before,
    &:after{
        position: absolute;
        width: 100%;
        height: 2px;
        @include transition($t-trans-easeInBack);
        @include transform(translate3d(0,0,0));
        content: "";
        /* Webkit fix for weird bugs */
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
    }

    .navigation-hamburger-center{
        top: 0;
        left: 50%;
        margin-left: -50%;
    }

    &:before{
        top: -7px;
    }
    
    &:after {
        top: 7px;
    }
    
    /* Close State */
    .is-open &{
        .navigation-hamburger-center,
        &:before,
        &:after{
            @include transition($t-trans-easeOutBack);
        }

        &:after{
            @include transform(rotate(-45deg) translate(2px, 4px));
            transform-origin: bottom left;
        }

        &:before{
            @include transform(rotate(45deg) translate(1px, -3px));
            transform-origin: bottom left;
        }

        .navigation-hamburger-center{
            width: 0;
            margin-left: 0;
            opacity: .5;
        }
    }
}   

.navigationSide-list{
    position: absolute;
    top: 50%;
    //right: em(($b-space-px - $b-space-o5x-px) / 2);
    right: $b-space;
    @include transform(translateY(-50%));
    pointer-events: auto;
}    

.navigationSide-item{
    position: relative;
    list-style: none;
    &.is-hover{
        .navigationSide-dot{
            opacity: .7;
        }
        .navigationSide-text{
            right: em($b-space-o5x-px, $b-fontSize-xs-px);
            right: em($b-space-px, $b-fontSize-xs-px);
            opacity: 1;
        }
    }
    &.active{
        .navigationSide-dot{
            opacity: 1;
            //@include box-shadow(inset 0 0 0 8px $c-text-invert);
        }
    }
}

.navigationSide-dot{
    display: block;
    width: $b-space-o5x;
    height: $b-space-o5x;
    margin-top: $b-space-o5x;
    margin-bottom: $b-space-o5x;
    @include border-radius(50%);
    //@include box-shadow(inset 0 0 0 1px $c-text-invert);
    @include transition(all $t-speed);
}

.navigationSide-text{
    position: absolute;
    top: 50%;
    right: em($b-space-3x-px, $b-fontSize-xs-px);
    margin-top: em(-12px, $b-fontSize-xs-px);  // MAGIC NUMBER
    opacity: 0;
    pointer-events: none;
    @include transition(all $t-speed);
    //color: $c-text-invert;
    font-size: $b-fontSize-xs;
    //display: none;
}

.navigationSide-item-link{
    display: block;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.navigationSide-dot--rectangle{
    position: relative;
    overflow: hidden;
    height: 14px;
    @include border-radius(0);
    &:after{
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 3px;
        content: '';
        @include transform(rotate(45deg));
        backface-visibility: hidden;
    }
}

.navigation-hamburger-center,
.navigation-hamburger:before,
.navigation-hamburger:after{

    .navigation-button--bcr &{
        background: $c-background;
    }

    .navigation-button--bc0 &{
        background: $c-canvasBg0;
    }

    .navigation-button--bc1 &{
        background: $c-canvasBg1;
    }

    .navigation-button--bc2 &{
        background: $c-canvasBg2;
    }

    .navigation-button--bc3 &{
        background: $c-canvasBg3;
    }

    .navigation-button--bc4 &{
        background: $c-canvasBg4;
    }

}


.navigation-button--bcr .icon{
    fill: $c-background;
}

.navigation-button--bc0 .icon{
    fill: $c-canvasBg0;
}

.navigation-button--bc1 .icon{
    fill: $c-canvasBg1;
}

.navigation-button--bc2 .icon{
    fill: $c-canvasBg2;
}

.navigation-button--bc3 .icon{
    fill: $c-canvasBg3;
}

.navigation-button--bc4 .icon{
    fill: $c-canvasBg4;
}




.navigation-item-link--tcr{
    color: $c-background;
}

.navigation-item-link--tc0{
    color: $c-canvasBg0;
}

.navigation-item-link--tc1{
    color: $c-canvasBg1;
}

.navigation-item-link--tc2{
    color: $c-canvasBg2;
}

.navigation-item-link--tc3{
    color: $c-canvasBg3;
}

.navigation-item-link--tc4{
    color: $c-canvasBg4;
}

.navigation-list--cr{
    .navigationSide-item{
        &.active{
            .navigationSide-dot{
                @include box-shadow(inset 0 0 0 8px $c-background);
            }
        }
    }
    .navigationSide-dot{
        @include box-shadow(inset 0 0 0 1px $c-background);
        &:after{
            background: $c-background;
        }
    }
    .navigationSide-text{
        color: $c-background;
    }
}

.navigation-list--c1{
    .navigationSide-item{
        &.active{
            .navigationSide-dot{
                @include box-shadow(inset 0 0 0 8px $c-canvasBg1);
            }
        }
    }
    .navigationSide-dot{
        @include box-shadow(inset 0 0 0 1px $c-canvasBg1);
        &:after{
            background: $c-canvasBg1;
        }
    }
    .navigationSide-text{
        color: $c-canvasBg1;
    }
}

.navigation-list--c3{
    .navigationSide-item{
        &.active{
            .navigationSide-dot{
                @include box-shadow(inset 0 0 0 8px $c-canvasBg3);
            }
        }
    }
    .navigationSide-dot{
        @include box-shadow(inset 0 0 0 1px $c-canvasBg3);
        &:after{
            background: $c-canvasBg3;
        }
    }
    .navigationSide-text{
        color: $c-canvasBg3;
    }
}

.navigation-list--bcr{
    .navigationSide-text{
        background-color: $c-background;
        @include box-shadow(0 0 7px 7px $c-background);
    }
}