// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[.row--a|b]
//   / ...
//
// *************************************

.row{
    position: relative;
    overflow: hidden;
    padding: 0 $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //
.row--window{
    padding: 0;
    height: 100%;

    @media print {
        height: auto;
        padding-top: $b-space-2x;
        padding-bottom: $b-space-2x;
    }

}