// *************************************
//
//   Skills
//
// *************************************

.work{

}


// -------------------------------------
//   Structure
// -------------------------------------

.work-skills{
    margin-top: $b-space;
}

.work-skill{
    display: inline-block;
    padding-left: $b-space;
    padding-right: $b-space;
    background-color: $c-canvasBg2;
    -webkit-print-color-adjust: exact;
    list-style: none;
    color: $c-text-invert;
    font-style: italic;
}

.work-content{
    margin-bottom: $b-space-4x;
    
    &:last-child{
        margin-bottom: 0;
    }
}

.work-launch{
    text-align: right;
    
    svg{
        position: relative;
        top: 3px;
        fill: $c-canvasBg0;
    }
}

.work-image{
    width: 100%;
}