/* ----------------------------------------------------------------------------
 General
-------------------------------------------------------------------------------*/
html{

}
body{
	
}

/* Layout and Grid Styles */
.max-width{
	width: 100%;
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}



/* ----------------------------------------------------------------------------
 Sprites
-------------------------------------------------------------------------------*/
/* Retina Sprites */
/*
@import "vendor/retina";
@include retina-sprite-add(common, "common/1x/*.png", "common/2x/*.png");
.common-logo-main{@include retina-sprite(logo-main);}
*/

/* Regular Sprites */
/*
$common-layout: smart;
$common-sprite-dimensions: true;
@import "common/*.png";
@include all-common-sprites();
*/


/* ----------------------------------------------------------------------------
 Header
-------------------------------------------------------------------------------*/
header{
}

/* ----------------------------------------------------------------------------
 Footer
-------------------------------------------------------------------------------*/
footer{
	
}

/* ----------------------------------------------------------------------------
 Responsive
-------------------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {

}