<div class="dn--s">
	<div nav inverse="true" color-index="2"></div>
</div>

<div class="dn db--s">
	<div nav inverse="false" color-index="0"></div>
</div>

<section class="row row--minwindow">
	<div class="cell cell--half cell--color cell--404left">
		<div class="well">
			<h1 class="h1">404</h1>
		</div>
	</div>
	<div class="cell cell--half cell--mono cell--404right">
		<div class="well">
		<h1 class="h1 h1--right">404</h1>
		<div class="cell cell--s cell-content--left fn">
			<p>The page you're looking for can't be found. Maybe visiting the <a ui-sref="home">homepage</a> will help.</p>
		</div>
		</div>
	</div>
</section>