// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .cell[.cell--s]
//   / ...
//
// *************************************

.cell{
    position: relative;
    width: 100%;
    max-width: $b-maxWidth;
    margin-right: auto;
    margin-left: auto;

    @media print {
        max-width: none;
    }

}


// -------------------------------------
//   Structure
// -------------------------------------


// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.cell--s{
    max-width: $b-maxWidth-s;

    @media print {
        max-width: none;
    }
}

.cell--m{
    max-width: $b-maxWidth-m;

    @media print {
        max-width: none;
    }
}

.cell--half{
    float: left;
    width: 50%;
    max-width: none;
    height: 100%;
    overflow: auto;

    @media print {
        width: 100%;
    }
}

.cell--home{

    @media screen and (max-width: $g-m) {
        float: none;
        width: 100%;
        height: auto;
        min-height: em(300px);
        overflow: hidden;
    }
}

.cell--404left{
    position: absolute;
    overflow: hidden;
    background-color: $c-canvasBg2;

    @media screen and (max-width: $g-s) {
        display: none;
    }
}

.cell--404right{
    position: static;
    margin-left: 50%;
    overflow: hidden;

    @media screen and (max-width: $g-s) {
        float: none;
        width: 100%;
        height: auto;
        min-height: em(300px);
        overflow: hidden;
        margin-left: 0;
        text-align: center;

        .cell-content--left{
            padding-right: 1em;
        }
    }
}


.cell-content--left{
    float: right;
    //height: 100%;
    padding-left: $b-space;

    .cell-innerContent > *{
        padding-right: 20%; // IE Fix
    }

    @media print, screen and (max-width: $g-m) {
        padding-right: $b-space;

        .cell--home &{
            float: none;
            padding-left: 0;
            padding-right: 0;
        }

        .cell-innerContent > *{
            padding-right: 0; // IE Fix
        }
    }

}

.cell-content--right{
    float: left;
    //height: 100%;
    padding-right: $b-space;
    
    .cell-innerContent > *{
        padding-left: 20%; // IE Fix
    }

    @media print, screen and (max-width: $g-m) {
        padding-left: $b-space;


        .cell--home &{
            float: none;
            padding-left: 0;
            padding-right: 0;
        }

        .cell-innerContent > *{
            padding-left: 0; // IE Fix
        }
    }

}

.cell--mono.cell--home{

    @media print, screen and (max-width: $g-m) {
        padding-left: $b-space;
        padding-right: $b-space;
    }   
}