// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[.row--a|b]
//   / ...
//
// *************************************

.row{
    position: relative;
    overflow: hidden;
    padding-left: $b-space;
    padding-right: $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //
.row--window,
.row--minwindow{
    padding: 0;
    height: 100%;

    @media print {
        height: auto;
        padding-top: $b-space-2x;
        padding-bottom: $b-space-2x;
    }

    @media screen and (max-width: $g-m) {
        height: auto;
    }

}

.row--minwindow{
    height: auto;
    min-height: 100%;
}