// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .well[.well--l]
//   / ...
//
// *************************************

.well{
    margin-top: $b-space-10x;
    margin-bottom: $b-space-4x;

    @media print {
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (max-width: $g-m) {
        margin-top: $b-space * 8;
        margin-bottom: $b-space * 3;
    }

    @media screen and (max-width: $g-s) {
        margin-top: $b-space * 6;
        margin-bottom: $b-space * 2;
    }

}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Sizes ----- //

.well--s{
    padding-bottom: $b-space-3x;
    padding-top: $b-space-3x;
    margin-top: 0;
    margin-bottom: 0;

    @media screen and (max-width: $g-m) {
        padding-top: $b-space * 5;
        padding-bottom: $b-space * 5;

        &:first-of-type{
            padding-top: $b-space * 6;
        }
    }
}
