<div home-section index="0" class="hf" is-mobile="isMobile">
	<div class="cell-innerContent">
		<h2 class="h2" typist="typistSayings" is-mobile="isMobile"></h2>
	</div>
</div>
<div home-section index="1" class="hf">
	<div class="cell-innerContent">
		<h2 class="h2">Section 2</h2>
	</div>
</div>
<div home-section index="2" class="hf">
	<div class="cell-innerContent">
		<h2 class="h2">Section 3</h2>
	</div>
</div>
<div home-section index="3" class="hf">
	<div class="cell-innerContent">
		<h2 class="h2">Section 4</h2>
	</div>
</div>
<div home-section index="4" class="hf">
	<div class="cell-innerContent">
		<h2 class="h2">Section 5</h2>
	</div>
</div>