<div home-section index="0" class="ha--m hf" is-mobile="isMobile" data-panel="{{sectionTitles[0]}}" section-titles="sectionTitles" initialisation>
	<div class="cell-innerContent">
		<h2 class="h2" typist="typistSayings" is-mobile="isMobile"></h2>
	</div>
</div>
<div home-section index="1" class="ha--m hf" data-panel="{{sectionTitles[1]}}" section-titles="sectionTitles">
	<div class="cell-innerContent">
		<h2 class="h2">About</h2>
		<h3 class="h3">I'm a web developer located in Orlando.</h3>
		<p>Once focused on front-end and UI development, I am now a full stack developer. The current stack I have employed is the MEAN stack (MongoDB, Express, AngularJS, Node.js), but I have also worked in the LAMP (Linux, Apache, MySql, PHP) space and have experience with CakePHP.</p>
	</div>
</div>
<div home-section index="2" class="ha--m hf" data-panel="{{sectionTitles[2]}}" section-titles="sectionTitles">
	<div class="cell-innerContent">
		<h2 class="h2">Experience</h2>
		<p>As a web developer, I have rebuilt and refactored old legacy code keeping an emphasis with best practices and using simple, maintainable, and modular code. I have built code from the beginning stages of a project, from collaborating and planning to launching and maintenance. I have also maintained current and legacy projects, diving into existing code and to investigate and resolve bugs.</p>
	</div>
</div>
<div home-section index="3" class="ha--m hf" is-work-section="true" data-panel="{{sectionTitles[3]}}" section-titles="sectionTitles">
	<div class="cell-innerContent hf">
		<div class="block-ie">
			<div class="block block--tall block--narrow">
				<a ui-sref="work({slug: works[0].slug})" class="block-preview">
					<div class="block-previewInner bc2">
						<div class="block-hover"></div>
						<div svg id="{{'work-' + works[0].slugShortened}}" fallback="'work-' + works[0].slugShortened" title="{{works[0].title}}" class="hf"></div>
					</div>
				</a>
			</div>
			<div class="block block--tall block--long">
				<div class="block block--half">
					<a ui-sref="work({slug: works[1].slug})" class="block-preview">
						<div class="block-previewInner bc4">
							<div class="block-hover"></div>
							<div svg id="{{'work-' + works[1].slugShortened}}" fallback="'work-' + works[1].slugShortened" title="{{works[1].title}}" class="hf"></div>
						</div>
					</a>
				</div>
				<div class="block block--half">
					<a ui-sref="work({slug: works[2].slug})" class="block-preview">
						<div class="block-previewInner bc1">
							<div class="block-hover"></div>
							<div svg id="{{'work-' + works[2].slugShortened}}" fallback="'work-' + works[2].slugShortened" title="{{works[2].title}}" class="hf"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="block block--short block--long">
				<a ui-sref="work({slug: works[3].slug})" class="block-preview">
					<div class="block-previewInner bc0">
						<div class="block-hover"></div>
						<div svg id="{{'work-' + works[3].slugShortened}}" fallback="'work-' + works[3].slugShortened" title="{{works[3].title}}" class="hf"></div>
					</div>
				</a>
			</div>
			<div class="block block--short block--narrow">
				<a ui-sref="work({slug: works[4].slug})" class="block-preview">
					<div class="block-previewInner bc3">
						<div class="block-hover"></div>
						<div svg id="{{'work-' + works[4].slugShortened}}" fallback="'work-' + works[4].slugShortened" title="{{works[4].title}}" class="hf"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div home-section index="4" class="ha--m hf" data-panel="{{sectionTitles[4]}}" section-titles="sectionTitles">
	<div class="cell-innerContent">
		<h2 class="h2">Contact Me</h2>
		<p class="p">
			Mike A Hurwitz <br>
			<a href="mailto:mike@hrwtz.com">mike@hrwtz.com</a><br>
			<a href="tel:7726780778">772.678.0778</a><br>
			Orlando, Florida <br>
			<a ui-sref="resume">Résumé</a>
			
		</p>
	</div>
</div>