<div 
	home-section
	index="$index"
	class="ha--m hf"
	data-panel="{{n}}"
	section-titles="vm.sectionTitles"
	initialisation="$index === 0"
	container="vm.container"
	active-section="vm.activeSection"
	on-panel-select="vm.onPanelSelect(index)"
	ng-repeat="n in [0,1,2,3]">
	<div class="cell-innerContent">
		<div class="branding" ng-class="'branding--' + $index">
			<div class="branding-iconWrap">
				<div class="branding-iconInner">
					<span svg id="logo-main"></span>
				</div>
			</div>
			<p class="branding-text">Mike Hurwitz</p>
		</div>
		<p class="p">
			<a href="mailto:mike@hrwtz.com">mike@hrwtz.com</a><br>
			<a href="tel:7726780778">772.678.0778</a><br>
			<a ui-sref="resume">Résumé</a><br>
			<a ui-sref="https://www.linkedin.com/in/hrwtz/">LinkedIn</a><br>
			San Francisco, California
		</p>
	</div>
</div>
