// *************************************
//
//   Block
//
// *************************************

.block{
    position: relative;
    float: left;
}


// -------------------------------------
//   Structure
// -------------------------------------

.block-ie{
    width: 100%;
    height: 100%;
}

.block-preview{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;   
    display: block;
    overflow: hidden;
    background-color: $c-text;
    @include transition(background-color .33s);

    svg{
        position: relative;
        top: 50%;
        left: 50%;
        width: 60%;
        z-index: 1;
        @include transform(translateX(-50%) translateY(-50%));
        fill: white;
    }

     &:hover{
        @include transform(initial);

        .block-hover{
            width: 425%;
            padding-bottom: 425%;
            opacity: 1;
            @include transition(2s width cubic-bezier(0.865, 0.050, 0.855, 0.060), 2s padding-bottom cubic-bezier(0.865, 0.050, 0.855, 0.060));
            
        } 
    }
}

.block-previewInner{
    height: 100%;
}

.block-cell{
    height: 100%;
}

.block-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    padding-bottom: 0;
    @include border-radius(50% 50% 50% 50%);
    background-color: $c-darkBlue;
    opacity: 0;
    @include transition(.2s width cubic-bezier(1.000, 0, 1.000, -0.165), .2s padding-bottom cubic-bezier(1.000, 0, 1.000, -0.165), .4s opacity);
    @include transform(translateX(-50%) translateY(-50%));
    pointer-events: none;

    .bc0 &{background-color: lighten($c-canvasBg0, 15);}
    .bc1 &{background-color: lighten($c-canvasBg1, 5);}
    .bc2 &{background-color: darken($c-canvasBg2, 15);}
    .bc3 &{background-color: darken($c-canvasBg3, 10);}
    .bc4 &{background-color: darken($c-canvasBg4, 12);}
}



// -------------------------------------
//   Modifiers
// -------------------------------------

.block--long{
    width: 55%;
}

.block--narrow{
    width: 45%;
}

.block--half{
    width: 100%;
    height: 50%;
}

.block--tall{
    height: 55%;
}

.block--short{
    height: 45%;
}


// -------------------------------------
//   Media Queries
// -------------------------------------

@media screen and (max-width: $g-m) {

    .block{
        height: auto;
    }

    .block--half{
        padding-bottom: 35%
    }

    .block--tall{
        width: 50%;
        padding-bottom: 35%
    }

    .block--short{
        padding-bottom: 45%
    }

    .block--tall.block--long{
        padding-bottom: 0;
    }

   

}

@media screen and (max-width: $g-xs) {

    .block--tall{
        width: 100%;
    }

    .block--half{
        width: 50%;
    }

}