// *************************************
//
//   Block
//
// *************************************

.block{
    position: relative;
    float: left;
}


// -------------------------------------
//   Structure
// -------------------------------------
.block-preview{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    

    
}

body{
}

.block-cell{
    height: 80%;
}

.block-face{
    display: block;
    height: 100%;
}

    .block-face--top{
        background-color: $c-text;
        //@include transform(translateZ(150px));

    }

    .block-face--bottom{
        background-color: $c-darkBlue;
        //@include transform(rotateX(-90deg) translateZ(-150px));
        
        &:after{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            content: 'View Work';
            color: white;
            font-family: "Khand", sans-serif;
            font-size: em(23px);
            text-align: center;
            text-transform: uppercase;
        }
    }

.block-cube{
    height: 100%;
    @include transform-style(preserve-3d);
    @include transition(transform .33s);


    &:hover{
        @include transform(rotateX(91deg));
    }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.block--half{
    width: 100%;
    height: 50%;
}

.block--tall{
    height: 55%;
}

.block--short{
    height: 45%;
}

.block--long{
    width: 55%;
}

.block--narrow{
    width: 45%;
}