// *************************************
//
//   Block
//
// *************************************

.block{
    position: relative;
    float: left;
}


// -------------------------------------
//   Structure
// -------------------------------------
.block-preview{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    

    
}

body{
}

.block-cell{
    height: 80%;
}

.block-face{
    display: block;
    height: 100%;
    @include transition(background-color .33s);
}

    .block-face--top{
        background-color: $c-text;

        svg{
            position: relative;
            top: 50%;
            left: 50%;
            width: 60%;
            transform: translateX(-50%) translateY(-50%);
            fill: white;
        }
    }

    .block-face--bottom{
        background-color: $c-darkBlue;
        
        &:after{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            content: 'View Work';
            color: white;
            font-family: "Khand", sans-serif;
            font-size: em(23px);
            text-align: center;
            text-transform: uppercase;
        }
    }

.block-cube{
    height: 100%;
    @include transform-style(preserve-3d);
    @include transition(transform .33s);


    &:hover{
        position: relative;
        z-index: 50;
        @include transform(rotateX(91deg));
    }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.block--long{
    width: 55%;
}

.block--narrow{
    width: 45%;
}

.block--half{
    width: 100%;
    height: 50%;
}

.block--tall{
    height: 55%;
}

.block--short{
    height: 45%;
}


// -------------------------------------
//   Media Queries
// -------------------------------------

@media screen and (max-width: $g-m) {

    .block{
        height: auto;
    }

    .block--half{
        padding-bottom: 35%
    }

    .block--tall{
        width: 50%;
        padding-bottom: 35%
    }

    .block--short{
        padding-bottom: 45%
    }

    .block--tall.block--long{
        padding-bottom: 0;
    }

    .block-cube{

        &:hover{
            @include transform(initial);

            .test{
                width: 150%;
                padding-bottom: 150%;
                opacity: 1;
                @include transition(1.5s width cubic-bezier(0.865, 0.050, 0.855, 0.060), 1.5s padding-bottom cubic-bezier(0.865, 0.050, 0.855, 0.060));
                
            } 
        }
    }

    .block-face{
        overflow: hidden;

        svg{
            z-index: 1;
        }
    }

    .test{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        padding-bottom: 0;
        @include border-radius(50%);
        background-color: $c-darkBlue;
        opacity: 0;
        @include transition(.2s width cubic-bezier(1.000, 0, 1.000, -0.165), .2s padding-bottom cubic-bezier(1.000, 0, 1.000, -0.165), .4s opacity);
        @include transform(translateX(-50%) translateY(-50%));
        pointer-events: none;
    }

}

@media screen and (max-width: $g-xs) {

    .block--tall{
        width: 100%;
    }

    .block--half{
        width: 50%;
    }

}