// *************************************
//
//   Structure
//   -> This is an example structure
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .structure[.structure--modifier](.is-state)(.has-context)
//   .structure-scaffolding
//
// *************************************

.branding{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
    width: 60%;
    transform: translateX(-50%) translateY(-50%);
    //margin-top: -150px;
    opacity: .5;

    @media screen and (max-width: $g-m) {
        max-width: $b-space * 10;
        //margin-top: 0;
    }   
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .structure--modifier

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

.branding-iconWrap{
    position: relative;
    height: 0;
    padding-bottom: 76.6233%;
    margin-bottom: $b-space-o75x;
    
    .icon{
        width: 100%;
        height: 100%;
        fill: $c-text-invert;
    }
}

.branding-iconInner{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.branding-text{
    color: $c-text-invert;
    font-size: em(30px);
    text-align: center;
    @extend .h2;
}