// *************************************
//
//   Device
//
// *************************************

.device{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
	margin-bottom: $b-space;
    background-color: #333;
    
    &:last-of-type{
        margin-bottom: 0;
    }
}

// -------------------------------------
//   Structure
// -------------------------------------

.device-image{
    display: block;
    width: 100%;
}

.device-buttons{
    
    &,
    &:before,
    &:after{
        position: absolute;
        width: $b-space-o75x;
        height: $b-space-o75x;
        @include border-top-left-radius(50%);
        @include border-top-right-radius(50%);
        @include border-bottom-left-radius(50%);
        @include border-bottom-right-radius(50%);
        content: "";
    }

    &{
        left: $b-space-o75x;
        top: (32px - $b-space-o75x-px) / 2;
        background-color: #fffa6d;
    }

    &:before{
        left: 25px;
        background-color: #b52936;
    }

    &:after{
        left: 50px;
        background-color: #61be5b;
    }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.device--desktop{
    padding-top: 32px;
    @include border-top-left-radius(8px);
    @include border-top-right-radius(8px);
    @include box-shadow(0px 1px 0px 0px #ccc, 1px 0px 0px 0px #ccc, -1px 0px 0px 0px #ccc);
}

.device--phone{
    max-width: em(381px);
    @include border-top-left-radius(55px);
    @include border-top-right-radius(55px);
    @include border-bottom-left-radius(55px);
    @include border-bottom-right-radius(55px);
    margin-left: $b-space;
    margin-right: $b-space;   

    @media screen and (max-width: $g-m) {
        margin-left: 0;
        margin-right: 0;
    }

    .device-image{
        padding: per(80px, 390px) per(21px, 390px);
    }

    .device-buttons{
        display: none;
    }
}

.device--tablet{
    max-width: em(825px);
    @include border-top-left-radius(40px);
    @include border-top-right-radius(40px);
    @include border-bottom-left-radius(40px);
    @include border-bottom-right-radius(40px);

    .device-image{
        padding: per(40px, 825px) per(30px, 825px);
    }

    .device-buttons{
        display: none;
    }
}

.device--phone,
.device--tablet{

    @media screen and (max-width: $g-s) {
        // Match device--desktop
        padding-top: 32px;
        @include border-top-left-radius(8px);
        @include border-top-right-radius(8px);
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
        @include box-shadow(0px 1px 0px 0px #ccc, 1px 0px 0px 0px #ccc, -1px 0px 0px 0px #ccc);

        // Reset other styles
        .device-image{
            padding: 0;
        }

        .device-buttons{
            display: block;
        }

    }
    
}