// *************************************
//
//   Skills
//
// *************************************

.typist{
    @include user-select(none);
}


// -------------------------------------
//   Structure
// -------------------------------------

.typist-highlight{
    position: relative;
    color: white;

    &:after{
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #ab3330;
        @include transform(translateY(-50%));
        content: '';
    }
}

.typist-normal{
    position: relative;
    z-index: 1;
}