// *************************************
//
//   Skills
//
// *************************************

.work{

}


// -------------------------------------
//   Structure
// -------------------------------------

.work-skills{
    margin-top: $b-space;
}

.work-skill{
    display: inline-block;
    padding-left: $b-space;
    padding-right: $b-space;
    margin-bottom: $b-space-o25x;
    background-color: $c-canvasBg2;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    list-style: none;
    color: $c-text-invert;
    font-style: italic;

    @media print {
        color: $c-text-invert !important;
        &.bc0{@include box-shadow(0 0 0 $b-space $c-canvasBg0 inset)}
        &.bc1{@include box-shadow(0 0 0 $b-space $c-canvasBg1 inset)}
        &.bc2{@include box-shadow(0 0 0 $b-space $c-canvasBg2 inset)}
        &.bc3{@include box-shadow(0 0 0 $b-space $c-canvasBg3 inset)}
        &.bc4{@include box-shadow(0 0 0 $b-space $c-canvasBg4 inset)}
    }
}

.work-content{
    margin-bottom: $b-space-4x;
    
    &:last-child{
        margin-bottom: 0;
    }
}

.work-launch{
    text-align: right;
    
    svg{
        position: relative;
        top: em(3px, $b-fontSize-l-px);
        width: em(24px, $b-fontSize-l-px);
        height: em(22px, $b-fontSize-l-px);
        fill: $c-canvasBg0;
    }
}