<section class="row row--window home">
	<div class="cell cell--half cell--home cell--mono" ng-class="{fr: index % 2 == 1}">
		<div class="table">
			<div class="table-cell table-cell--middle">
				<div 
					class="cell cell--s well well--s clearfix cell-content"
					ng-class="{'cell-content--right': index % 2 === 1, 'cell-content--left': index % 2 !== 1}">
					<ng-transclude></ng-transclude>
				</div>
			</div>
		</div>
		<div class="navigation-clip navigation-clip--mobile">
			<div nav color-index="index" inverse="!!(index % 2)"></div>
		</div>
	</div>
	<div class="cell cell--half cell--home cell--color ofh" ng-class="'bc' + index">
		<canvas canvas-animation index="index" class="canvas" ng-class="'bc' + index"></canvas>

		<div class="navigation-clip navigation-clip--mobile">
			<div nav color-index="index" inverse="!(index % 2)"></div>
		</div>
	</div>

	
	<div class="navigation-clip navigation-clip--main">
		<div nav color-index="index" inverse="false"></div>
		<nav class="navigationSide">
			<ul class="navigationSide-list"
				ng-class="[{true: 'navigation-list--cr navigation-list--bc' + index, false: 'navigation-list--bcr navigation-list--c' + index}[index % 2 === 0],{true: 'navigation-list--bc' + index}[index % 2 === 0],]">
				<li 
					class="navigationSide-item" 
					ng-class="{active: !$index}"
					data-panel="{{sectionTitles[$index]}}"
					ng-repeat="section in sectionTitles track by $index"
					hover-all>
					<a href="#" class="navigationSide-item-link">
						<span class="navigationSide-dot"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	

	<div class="robin" ng-if="index + 1 === sectionTitles.length">
		<span svg id="robin"></span>
	</div>
</section>