/* line 1, ../sass/foundation/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 2, ../sass/foundation/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 3, ../sass/foundation/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 4, ../sass/foundation/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 5, ../sass/foundation/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 6, ../sass/foundation/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* line 7, ../sass/foundation/_reset.scss */
del {
  text-decoration: line-through; }

/* line 8, ../sass/foundation/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* line 9, ../sass/foundation/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 10, ../sass/foundation/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom; }

/* line 11, ../sass/foundation/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top; }

/* line 12, ../sass/foundation/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 13, ../sass/foundation/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 14, ../sass/foundation/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* line 15, ../sass/foundation/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 16, ../sass/foundation/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 17, ../sass/foundation/_reset.scss */
select, input, textarea {
  font: 99% sans-serif; }

/* line 18, ../sass/foundation/_reset.scss */
table {
  font-size: inherit;
  font: 100%; }

/* line 19, ../sass/foundation/_reset.scss */
small {
  font-size: 85%; }

/* line 20, ../sass/foundation/_reset.scss */
strong, th {
  font-weight: bold; }

/* line 21, ../sass/foundation/_reset.scss */
td, td img {
  vertical-align: top; }

/* line 22, ../sass/foundation/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

/* line 23, ../sass/foundation/_reset.scss */
sup {
  top: -0.5em; }

/* line 24, ../sass/foundation/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 25, ../sass/foundation/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 26, ../sass/foundation/_reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* line 27, ../sass/foundation/_reset.scss */
button, input, select, textarea {
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* line 28, ../sass/foundation/_reset.scss */
button {
  width: auto;
  overflow: visible; }

/* line 29, ../sass/foundation/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 30, ../sass/foundation/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 31, ../sass/foundation/_reset.scss */
html, body {
  min-height: 100%; }

/* line 133, ../sass/foundation/_helpers.scss */
.clearfix {
  zoom: 1; }
  /* line 136, ../sass/foundation/_helpers.scss */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  /* line 140, ../sass/foundation/_helpers.scss */
  .clearfix:after {
    clear: both; }

/* line 8, ../sass/foundation/_base.scss */
.section {
  padding-bottom: 2.5em;
  border-bottom: 1px solid #263146;
  margin-top: 3em; }
  /* line 12, ../sass/foundation/_base.scss */
  .section:last-of-type {
    margin-bottom: 1em; }

/* line 17, ../sass/foundation/_base.scss */
.section-inner {
  margin-bottom: 2em; }
  /* line 19, ../sass/foundation/_base.scss */
  .section-inner:last-child {
    margin-bottom: 0; }

/* line 24, ../sass/foundation/_base.scss */
.list {
  margin-left: 1em; }

/* line 29, ../sass/foundation/_base.scss */
html {
  background: #ecf0f1;
  color: #5d6975;
  font-family: "Vollkorn", serif;
  font-size: 20px;
  line-height: 1.6; }
  @media print {
    /* line 29, ../sass/foundation/_base.scss */
    html {
      background-color: transparent; } }

/* line 42, ../sass/foundation/_base.scss */
body {
  font-size: 100%;
  position: absolute;
  width: 100%;
  height: 100%; }
  /* line 63, ../sass/foundation/_helpers.scss */
  body ::-moz-selection {
    background: #b0382f;
    color: white; }
  /* line 64, ../sass/foundation/_helpers.scss */
  body ::selection {
    background: #b0382f;
    color: white; }
  /* line 65, ../sass/foundation/_helpers.scss */
  body a:link {
    -webkit-tap-highlight-color: #b0382f; }
  @media print {
    /* line 42, ../sass/foundation/_base.scss */
    body {
      font-size: 12px; } }

@page {
  margin: 0.5cm; }

/* line 65, ../sass/foundation/_base.scss */
p, .p,
ul {
  margin-bottom: 0.5em;
  margin-top: 0; }

/* line 70, ../sass/foundation/_base.scss */
.p--h {
  margin-bottom: 0;
  color: #263146;
  font-style: italic; }

/* line 90, ../sass/foundation/_base.scss */
h1, .h1 {
  position: relative;
  top: 50%;
  width: 200%;
  color: #ecf0f1;
  font-size: 16.5em;
  font-family: "Khand", sans-serif;
  line-height: 0.69697em;
  text-align: center; }
  @media print, screen and (max-width: 50em) {
    /* line 90, ../sass/foundation/_base.scss */
    h1, .h1 {
      font-size: 12.5em; } }
  @media print, screen and (max-width: 41.875em) {
    /* line 90, ../sass/foundation/_base.scss */
    h1, .h1 {
      font-size: 8.75em; } }

/* line 109, ../sass/foundation/_base.scss */
.h1--right {
  left: -100%;
  color: #b0382f; }
  @media screen and (max-width: 41.875em) {
    /* line 109, ../sass/foundation/_base.scss */
    .h1--right {
      left: -50%;
      color: #713045; } }

/* line 119, ../sass/foundation/_base.scss */
h2, .h2, .branding-text {
  margin-bottom: 0.33333em;
  color: #263146;
  font-family: "Khand", sans-serif;
  font-size: 3em;
  line-height: 0.83333;
  text-transform: uppercase; }
  @media screen and (max-width: 41.875em) {
    /* line 119, ../sass/foundation/_base.scss */
    h2, .h2, .branding-text {
      font-size: 2.3em; } }

/* line 132, ../sass/foundation/_base.scss */
.h2--mbl {
  margin-bottom: 1em; }

/* line 136, ../sass/foundation/_base.scss */
h3, .h3 {
  margin-bottom: 0.41667em;
  color: #713045;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.33333; }

/* line 144, ../sass/foundation/_base.scss */
.h3--sub {
  color: #5d6975; }

/* line 148, ../sass/foundation/_base.scss */
h4, .h4 {
  margin-bottom: 1em; }

/* line 159, ../sass/foundation/_base.scss */
h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child, .branding-text:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
p:last-child, .p:last-child,
ul:last-child {
  margin-bottom: 0; }

/* line 171, ../sass/foundation/_base.scss */
p a,
.p a {
  border-bottom: 1px solid #713045; }
  @media print {
    /* line 175, ../sass/foundation/_base.scss */
    p a:after,
    .p a:after {
      content: " (" attr(href) ") "; } }

/* line 181, ../sass/foundation/_base.scss */
a {
  color: #713045; }

/*
a {
  border-bottom: $b-border;
  color: $c-highlight;
  text-decoration: none;
  &:hover,
  &:focus {
    border-bottom-color: $c-highlight;
    color: $c-subdue;
  }
}*/
/* line 199, ../sass/foundation/_base.scss */
img {
  height: auto;
  max-width: 100%; }

/* line 15, ../sass/components/_well.scss */
.well {
  margin-top: 10em;
  margin-bottom: 4em; }
  @media print {
    /* line 15, ../sass/components/_well.scss */
    .well {
      margin-top: 1em;
      margin-bottom: 0; } }
  @media screen and (max-width: 50em) {
    /* line 15, ../sass/components/_well.scss */
    .well {
      margin-top: 8em;
      margin-bottom: 3em; } }
  @media screen and (max-width: 41.875em) {
    /* line 15, ../sass/components/_well.scss */
    .well {
      margin-top: 6em;
      margin-bottom: 2em; } }

/* line 42, ../sass/components/_well.scss */
.well--s {
  padding-bottom: 3em;
  padding-top: 3em;
  margin-top: 0;
  margin-bottom: 0; }
  @media screen and (max-width: 50em) {
    /* line 42, ../sass/components/_well.scss */
    .well--s {
      padding-top: 5em;
      padding-bottom: 5em; }
      /* line 52, ../sass/components/_well.scss */
      .well--s:first-of-type {
        padding-top: 6em; } }

/* line 15, ../sass/components/_cell.scss */
.cell {
  position: relative;
  width: 100%;
  max-width: 52.5em;
  margin-right: auto;
  margin-left: auto; }
  @media print {
    /* line 15, ../sass/components/_cell.scss */
    .cell {
      max-width: none; } }

/* line 40, ../sass/components/_cell.scss */
.cell--s {
  max-width: 33.5em; }
  @media print {
    /* line 40, ../sass/components/_cell.scss */
    .cell--s {
      max-width: none; } }

/* line 48, ../sass/components/_cell.scss */
.cell--m {
  max-width: 40em; }
  @media print {
    /* line 48, ../sass/components/_cell.scss */
    .cell--m {
      max-width: none; } }

/* line 56, ../sass/components/_cell.scss */
.cell--half {
  float: left;
  width: 50%;
  max-width: none;
  height: 100%;
  overflow: auto; }
  @media print {
    /* line 56, ../sass/components/_cell.scss */
    .cell--half {
      width: 100%; } }

@media screen and (max-width: 50em) {
  /* line 68, ../sass/components/_cell.scss */
  .cell--home {
    float: none;
    width: 100%;
    height: auto;
    min-height: 15em;
    overflow: hidden; } }

/* line 79, ../sass/components/_cell.scss */
.cell--404left {
  position: absolute;
  overflow: hidden;
  background-color: #b0382f; }
  @media screen and (max-width: 41.875em) {
    /* line 79, ../sass/components/_cell.scss */
    .cell--404left {
      display: none; } }

/* line 89, ../sass/components/_cell.scss */
.cell--404right {
  position: static;
  margin-left: 50%;
  overflow: hidden; }
  @media screen and (max-width: 41.875em) {
    /* line 89, ../sass/components/_cell.scss */
    .cell--404right {
      float: none;
      width: 100%;
      height: auto;
      min-height: 15em;
      overflow: hidden;
      margin-left: 0;
      text-align: center; }
      /* line 103, ../sass/components/_cell.scss */
      .cell--404right .cell-content--left {
        padding-right: 1em; } }

/* line 110, ../sass/components/_cell.scss */
.cell-content--left {
  float: right;
  padding-left: 1em; }
  /* line 115, ../sass/components/_cell.scss */
  .cell-content--left > * {
    padding-right: 20%; }
  @media print, screen and (max-width: 50em) {
    /* line 110, ../sass/components/_cell.scss */
    .cell-content--left {
      padding-right: 1em; }
      /* line 122, ../sass/components/_cell.scss */
      .cell--home .cell-content--left {
        float: none;
        padding-left: 0;
        padding-right: 0; }
      /* line 128, ../sass/components/_cell.scss */
      .cell-content--left > * {
        padding-right: 0; } }

/* line 135, ../sass/components/_cell.scss */
.cell-content--right {
  float: left;
  padding-right: 1em; }
  /* line 140, ../sass/components/_cell.scss */
  .cell-content--right > * {
    padding-left: 20%; }
  @media print, screen and (max-width: 50em) {
    /* line 135, ../sass/components/_cell.scss */
    .cell-content--right {
      padding-left: 1em; }
      /* line 148, ../sass/components/_cell.scss */
      .cell--home .cell-content--right {
        float: none;
        padding-left: 0;
        padding-right: 0; }
      /* line 154, ../sass/components/_cell.scss */
      .cell-content--right > * {
        padding-left: 0; } }

@media print, screen and (max-width: 50em) {
  /* line 161, ../sass/components/_cell.scss */
  .cell--mono.cell--home {
    padding-left: 1em;
    padding-right: 1em; } }

/* line 15, ../sass/components/_row.scss */
.row {
  position: relative;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em; }

/* line 28, ../sass/components/_row.scss */
.row--window,
.row--minwindow {
  padding: 0;
  height: 100%; }
  @media print {
    /* line 28, ../sass/components/_row.scss */
    .row--window,
    .row--minwindow {
      height: auto;
      padding-top: 2em;
      padding-bottom: 2em; } }
  @media screen and (max-width: 50em) {
    /* line 28, ../sass/components/_row.scss */
    .row--window,
    .row--minwindow {
      height: auto; } }

/* line 44, ../sass/components/_row.scss */
.row--minwindow {
  height: auto;
  min-height: 100%; }

/* line 8, ../sass/components/_canvas.scss */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 15, ../sass/components/_icon.scss */
.icon--fallback {
  display: none;
  height: 100%;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat; }

/* line 25, ../sass/components/_icon.scss */
.no-svg .icon--svg {
  display: none; }
/* line 29, ../sass/components/_icon.scss */
.no-svg .icon--fallback {
  display: inline-block; }

/* line 16, ../sass/structures/_work.scss */
.work-skills {
  margin-top: 1em; }

/* line 20, ../sass/structures/_work.scss */
.work-skill, h4, .h4 {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.25em;
  background-color: #b0382f;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  list-style: none;
  color: #ecf0f1;
  font-style: italic; }
  @media print {
    /* line 20, ../sass/structures/_work.scss */
    .work-skill, h4, .h4 {
      color: #ecf0f1 !important; }
      /* line 34, ../sass/structures/_work.scss */
      .work-skill.bc0, h4.bc0, .bc0.h4 {
        -webkit-box-shadow: 0 0 0 1em #713045 inset;
        -moz-box-shadow: 0 0 0 1em #713045 inset;
        box-shadow: 0 0 0 1em #713045 inset; }
      /* line 35, ../sass/structures/_work.scss */
      .work-skill.bc1, h4.bc1, .bc1.h4 {
        -webkit-box-shadow: 0 0 0 1em #982e4b inset;
        -moz-box-shadow: 0 0 0 1em #982e4b inset;
        box-shadow: 0 0 0 1em #982e4b inset; }
      /* line 36, ../sass/structures/_work.scss */
      .work-skill.bc2, h4.bc2, .bc2.h4 {
        -webkit-box-shadow: 0 0 0 1em #b0382f inset;
        -moz-box-shadow: 0 0 0 1em #b0382f inset;
        box-shadow: 0 0 0 1em #b0382f inset; }
      /* line 37, ../sass/structures/_work.scss */
      .work-skill.bc3, h4.bc3, .bc3.h4 {
        -webkit-box-shadow: 0 0 0 1em #e05723 inset;
        -moz-box-shadow: 0 0 0 1em #e05723 inset;
        box-shadow: 0 0 0 1em #e05723 inset; }
      /* line 38, ../sass/structures/_work.scss */
      .work-skill.bc4, h4.bc4, .bc4.h4 {
        -webkit-box-shadow: 0 0 0 1em #f29727 inset;
        -moz-box-shadow: 0 0 0 1em #f29727 inset;
        box-shadow: 0 0 0 1em #f29727 inset; } }

/* line 42, ../sass/structures/_work.scss */
.work-content {
  margin-bottom: 4em; }
  /* line 45, ../sass/structures/_work.scss */
  .work-content:last-child {
    margin-bottom: 0; }

/* line 50, ../sass/structures/_work.scss */
.work-launch {
  text-align: right; }
  /* line 53, ../sass/structures/_work.scss */
  .work-launch .icon {
    position: relative;
    top: 0.125em;
    width: 1em;
    height: 0.91667em;
    fill: #713045; }

/* line 7, ../sass/structures/_table.scss */
.table {
  display: table;
  width: 100%;
  height: 100%; }

/* line 17, ../sass/structures/_table.scss */
.table-cell {
  display: table-cell; }

/* line 21, ../sass/structures/_table.scss */
.table-cell--middle {
  vertical-align: middle; }

/* line 8, ../sass/structures/_navigation.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 950;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media print {
    /* line 8, ../sass/structures/_navigation.scss */
    .navigation {
      display: none; } }

/* line 24, ../sass/structures/_navigation.scss */
.navigationSide {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 950;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media print, screen and (max-width: 50em) {
    /* line 24, ../sass/structures/_navigation.scss */
    .navigationSide {
      display: none; } }

/* line 44, ../sass/structures/_navigation.scss */
.navigation-clip {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  clip: rect(auto, auto, auto, auto); }

/* line 54, ../sass/structures/_navigation.scss */
.navigation-list {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 3em;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  pointer-events: auto;
  font-family: "Khand", sans-serif;
  line-height: 3em;
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap; }
  @media screen and (max-width: 50em) {
    /* line 54, ../sass/structures/_navigation.scss */
    .navigation-list {
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease; } }
  /* line 75, ../sass/structures/_navigation.scss */
  .is-open .navigation-list {
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    left: 0;
    width: 50%;
    padding-right: 3em; }
    @media screen and (max-width: 50em) {
      /* line 75, ../sass/structures/_navigation.scss */
      .is-open .navigation-list {
        width: 100%;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; } }

/* line 88, ../sass/structures/_navigation.scss */
.navigation-item {
  display: inline-block; }
  @media screen and (max-width: 25em) {
    /* line 88, ../sass/structures/_navigation.scss */
    .navigation-item {
      font-size: 0.9em; } }
  /* line 95, ../sass/structures/_navigation.scss */
  .navigation-item:last-of-type {
    margin-right: 1em; }

/* line 100, ../sass/structures/_navigation.scss */
.navigation-item-link {
  padding: 0 0.25em; }

/* line 104, ../sass/structures/_navigation.scss */
.navigation-button {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 3em;
  height: 3em;
  margin-left: -3em;
  pointer-events: auto;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s; }
  /* line 115, ../sass/structures/_navigation.scss */
  .navigation-button:nth-of-type(2) {
    margin-left: 0; }
  /* line 119, ../sass/structures/_navigation.scss */
  .navigation-button .icon {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%; }
  @media screen and (max-width: 50em) {
    /* line 104, ../sass/structures/_navigation.scss */
    .navigation-button {
      -webkit-transition: left 0.6s ease;
      -moz-transition: left 0.6s ease;
      -o-transition: left 0.6s ease;
      transition: left 0.6s ease; } }
  @media screen and (max-width: 50em) {
    /* line 131, ../sass/structures/_navigation.scss */
    .is-open .navigation-button {
      left: 100%; } }

/* line 140, ../sass/structures/_navigation.scss */
.navigation-hamburger {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 40%;
  height: 2px;
  margin-top: -1px;
  margin-left: -20%;
  /* Set Up lines */
  /* Close State */ }
  /* line 153, ../sass/structures/_navigation.scss */
  .navigation-hamburger .navigation-hamburger-center, .navigation-hamburger:before, .navigation-hamburger:after {
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: "";
    /* Webkit fix for weird bugs */
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); }
    @media screen and (max-width: 50em) {
      /* line 153, ../sass/structures/_navigation.scss */
      .navigation-hamburger .navigation-hamburger-center, .navigation-hamburger:before, .navigation-hamburger:after {
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; } }
  /* line 169, ../sass/structures/_navigation.scss */
  .navigation-hamburger .navigation-hamburger-center {
    top: 0;
    left: 50%;
    margin-left: -50%; }
  /* line 175, ../sass/structures/_navigation.scss */
  .navigation-hamburger:before {
    top: -7px; }
  /* line 179, ../sass/structures/_navigation.scss */
  .navigation-hamburger:after {
    top: 7px; }
  /* line 187, ../sass/structures/_navigation.scss */
  .is-open .navigation-hamburger .navigation-hamburger-center, .is-open .navigation-hamburger:before, .is-open .navigation-hamburger:after {
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
    @media screen and (max-width: 50em) {
      /* line 187, ../sass/structures/_navigation.scss */
      .is-open .navigation-hamburger .navigation-hamburger-center, .is-open .navigation-hamburger:before, .is-open .navigation-hamburger:after {
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; } }
  /* line 195, ../sass/structures/_navigation.scss */
  .is-open .navigation-hamburger:after {
    -webkit-transform: rotate(-45deg) translate(2px, 4px);
    -moz-transform: rotate(-45deg) translate(2px, 4px);
    -ms-transform: rotate(-45deg) translate(2px, 4px);
    -o-transform: rotate(-45deg) translate(2px, 4px);
    transform: rotate(-45deg) translate(2px, 4px);
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left; }
  /* line 200, ../sass/structures/_navigation.scss */
  .is-open .navigation-hamburger:before {
    -webkit-transform: rotate(45deg) translate(1px, -3px);
    -moz-transform: rotate(45deg) translate(1px, -3px);
    -ms-transform: rotate(45deg) translate(1px, -3px);
    -o-transform: rotate(45deg) translate(1px, -3px);
    transform: rotate(45deg) translate(1px, -3px);
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left; }
  /* line 205, ../sass/structures/_navigation.scss */
  .is-open .navigation-hamburger .navigation-hamburger-center {
    width: 0;
    margin-left: 0;
    opacity: .5; }

/* line 213, ../sass/structures/_navigation.scss */
.navigationSide-list {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: auto; }

/* line 222, ../sass/structures/_navigation.scss */
.navigationSide-item {
  position: relative;
  list-style: none; }
  /* line 227, ../sass/structures/_navigation.scss */
  .navigationSide-item.is-hover .navigationSide-dot {
    opacity: .7; }
  /* line 230, ../sass/structures/_navigation.scss */
  .navigationSide-item.is-hover .navigationSide-text {
    right: 0.71429em;
    right: 1.42857em;
    opacity: 1; }
  /* line 238, ../sass/structures/_navigation.scss */
  .navigationSide-item.active .navigationSide-dot {
    opacity: 1; }

/* line 245, ../sass/structures/_navigation.scss */
.navigationSide-dot {
  display: block;
  width: 0.5em;
  height: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  -moz-border-radius-topleft: 50%;
  -webkit-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -webkit-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  -webkit-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* line 259, ../sass/structures/_navigation.scss */
.navigationSide-text {
  position: absolute;
  top: 50%;
  right: 4.28571em;
  margin-top: -0.85714em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.7em; }

/* line 272, ../sass/structures/_navigation.scss */
.navigationSide-item-link {
  display: block; }

@media screen and (max-width: 50em) {
  /* line 280, ../sass/structures/_navigation.scss */
  .navigation-clip--main {
    display: none; } }

/* line 287, ../sass/structures/_navigation.scss */
.navigation-clip--mobile {
  display: none; }
  @media screen and (max-width: 50em) {
    /* line 287, ../sass/structures/_navigation.scss */
    .navigation-clip--mobile {
      display: block; } }

/* line 295, ../sass/structures/_navigation.scss */
.navigationSide-dot--rectangle {
  position: relative;
  overflow: hidden;
  height: 14px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0; }
  /* line 303, ../sass/structures/_navigation.scss */
  .navigationSide-dot--rectangle:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 3px;
    content: '';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    backface-visibility: hidden; }

/* line 319, ../sass/structures/_navigation.scss */
.navigation-button--bcr .navigation-hamburger-center, .navigation-button--bcr
.navigation-hamburger:before, .navigation-button--bcr
.navigation-hamburger:after {
  background: #ecf0f1; }
/* line 323, ../sass/structures/_navigation.scss */
.navigation-button--bc0 .navigation-hamburger-center, .navigation-button--bc0
.navigation-hamburger:before, .navigation-button--bc0
.navigation-hamburger:after {
  background: #713045; }
/* line 327, ../sass/structures/_navigation.scss */
.navigation-button--bc1 .navigation-hamburger-center, .navigation-button--bc1
.navigation-hamburger:before, .navigation-button--bc1
.navigation-hamburger:after {
  background: #982e4b; }
/* line 331, ../sass/structures/_navigation.scss */
.navigation-button--bc2 .navigation-hamburger-center, .navigation-button--bc2
.navigation-hamburger:before, .navigation-button--bc2
.navigation-hamburger:after {
  background: #b0382f; }
/* line 335, ../sass/structures/_navigation.scss */
.navigation-button--bc3 .navigation-hamburger-center, .navigation-button--bc3
.navigation-hamburger:before, .navigation-button--bc3
.navigation-hamburger:after {
  background: #e05723; }
/* line 339, ../sass/structures/_navigation.scss */
.navigation-button--bc4 .navigation-hamburger-center, .navigation-button--bc4
.navigation-hamburger:before, .navigation-button--bc4
.navigation-hamburger:after {
  background: #f29727; }

/* line 346, ../sass/structures/_navigation.scss */
.navigation-button--bcr .icon {
  fill: #ecf0f1; }

/* line 350, ../sass/structures/_navigation.scss */
.navigation-button--bc0 .icon {
  fill: #713045; }

/* line 354, ../sass/structures/_navigation.scss */
.navigation-button--bc1 .icon {
  fill: #982e4b; }

/* line 358, ../sass/structures/_navigation.scss */
.navigation-button--bc2 .icon {
  fill: #b0382f; }

/* line 362, ../sass/structures/_navigation.scss */
.navigation-button--bc3 .icon {
  fill: #e05723; }

/* line 366, ../sass/structures/_navigation.scss */
.navigation-button--bc4 .icon {
  fill: #f29727; }

/* line 373, ../sass/structures/_navigation.scss */
.navigation-item-link--tcr {
  color: #ecf0f1; }

/* line 377, ../sass/structures/_navigation.scss */
.navigation-item-link--tc0 {
  color: #713045; }

/* line 381, ../sass/structures/_navigation.scss */
.navigation-item-link--tc1 {
  color: #982e4b; }

/* line 385, ../sass/structures/_navigation.scss */
.navigation-item-link--tc2 {
  color: #b0382f; }

/* line 389, ../sass/structures/_navigation.scss */
.navigation-item-link--tc3 {
  color: #e05723; }

/* line 393, ../sass/structures/_navigation.scss */
.navigation-item-link--tc4 {
  color: #f29727; }

/* line 400, ../sass/structures/_navigation.scss */
.navigation-list--cr .navigationSide-item.active .navigationSide-dot {
  -webkit-box-shadow: inset 0 0 0 8px #ecf0f1;
  -moz-box-shadow: inset 0 0 0 8px #ecf0f1;
  box-shadow: inset 0 0 0 8px #ecf0f1; }
/* line 405, ../sass/structures/_navigation.scss */
.navigation-list--cr .navigationSide-dot {
  -webkit-box-shadow: inset 0 0 0 1px #ecf0f1;
  -moz-box-shadow: inset 0 0 0 1px #ecf0f1;
  box-shadow: inset 0 0 0 1px #ecf0f1; }
  /* line 407, ../sass/structures/_navigation.scss */
  .navigation-list--cr .navigationSide-dot:after {
    background: #ecf0f1; }
/* line 411, ../sass/structures/_navigation.scss */
.navigation-list--cr .navigationSide-text {
  color: #ecf0f1; }

/* line 419, ../sass/structures/_navigation.scss */
.navigation-list--c1 .navigationSide-item.active .navigationSide-dot {
  -webkit-box-shadow: inset 0 0 0 8px #982e4b;
  -moz-box-shadow: inset 0 0 0 8px #982e4b;
  box-shadow: inset 0 0 0 8px #982e4b; }
/* line 424, ../sass/structures/_navigation.scss */
.navigation-list--c1 .navigationSide-dot {
  -webkit-box-shadow: inset 0 0 0 1px #982e4b;
  -moz-box-shadow: inset 0 0 0 1px #982e4b;
  box-shadow: inset 0 0 0 1px #982e4b; }
  /* line 426, ../sass/structures/_navigation.scss */
  .navigation-list--c1 .navigationSide-dot:after {
    background: #982e4b; }
/* line 430, ../sass/structures/_navigation.scss */
.navigation-list--c1 .navigationSide-text {
  color: #982e4b; }

/* line 438, ../sass/structures/_navigation.scss */
.navigation-list--c3 .navigationSide-item.active .navigationSide-dot {
  -webkit-box-shadow: inset 0 0 0 8px #e05723;
  -moz-box-shadow: inset 0 0 0 8px #e05723;
  box-shadow: inset 0 0 0 8px #e05723; }
/* line 443, ../sass/structures/_navigation.scss */
.navigation-list--c3 .navigationSide-dot {
  -webkit-box-shadow: inset 0 0 0 1px #e05723;
  -moz-box-shadow: inset 0 0 0 1px #e05723;
  box-shadow: inset 0 0 0 1px #e05723; }
  /* line 445, ../sass/structures/_navigation.scss */
  .navigation-list--c3 .navigationSide-dot:after {
    background: #e05723; }
/* line 449, ../sass/structures/_navigation.scss */
.navigation-list--c3 .navigationSide-text {
  color: #e05723; }

/* line 455, ../sass/structures/_navigation.scss */
.navigation-list--bcr .navigationSide-text {
  background-color: #ecf0f1;
  -webkit-box-shadow: 0 0 7px 7px #ecf0f1;
  -moz-box-shadow: 0 0 7px 7px #ecf0f1;
  box-shadow: 0 0 7px 7px #ecf0f1; }

/* line 15, ../sass/structures/_resumeLine.scss */
.resumeLine {
  line-height: 42px; }
  @media print {
    /* line 15, ../sass/structures/_resumeLine.scss */
    .resumeLine {
      display: none; } }
  @media screen and (max-width: 41.875em) {
    /* line 15, ../sass/structures/_resumeLine.scss */
    .resumeLine {
      text-align: center;
      line-height: 1.6; } }

/* line 50, ../sass/structures/_resumeLine.scss */
.resumeLine-iconWrap {
  float: right;
  font-size: 20px; }
  /* line 54, ../sass/structures/_resumeLine.scss */
  .resumeLine-iconWrap .icon {
    height: 2.1em; }
  @media screen and (max-width: 41.875em) {
    /* line 50, ../sass/structures/_resumeLine.scss */
    .resumeLine-iconWrap {
      float: none;
      display: block;
      margin-top: 0.5em; } }

/* line 67, ../sass/structures/_resumeLine.scss */
.resumeLine-icon--pdf .icon {
  width: 1.7em; }

/* line 74, ../sass/structures/_resumeLine.scss */
.resumeLine-icon--print .icon {
  width: 2.4em; }

/* line 79, ../sass/structures/_resumeLine.scss */
.resumeLine-icon {
  margin-left: 0.41667em;
  fill: #713045; }

@media screen and (max-width: 25em) {
  /* line 84, ../sass/structures/_resumeLine.scss */
  .resumeLine-link {
    display: block; } }

@media screen and (max-width: 25em) {
  /* line 91, ../sass/structures/_resumeLine.scss */
  .resumeLine-dot {
    display: none; } }

/* line 15, ../sass/structures/_branding.scss */
.branding {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99999;
  width: 60%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  opacity: .5; }
  @media screen and (max-width: 50em) {
    /* line 15, ../sass/structures/_branding.scss */
    .branding {
      max-width: 10em; } }

/* line 53, ../sass/structures/_branding.scss */
.branding-iconWrap {
  position: relative;
  height: 0;
  padding-bottom: 76.6233%;
  margin-bottom: 0.75em; }
  /* line 59, ../sass/structures/_branding.scss */
  .branding-iconWrap .icon {
    width: 100%;
    height: 100%;
    fill: #ecf0f1; }

/* line 66, ../sass/structures/_branding.scss */
.branding-iconInner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* line 74, ../sass/structures/_branding.scss */
.branding-text {
  color: #ecf0f1;
  font-size: 1.5em;
  text-align: center; }

/* line 7, ../sass/structures/_device.scss */
.device {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
  background-color: #333; }
  /* line 14, ../sass/structures/_device.scss */
  .device:last-of-type {
    margin-bottom: 0; }

/* line 23, ../sass/structures/_device.scss */
.device-image {
  display: block;
  width: 100%; }

/* line 32, ../sass/structures/_device.scss */
.device-buttons, .device-buttons:before, .device-buttons:after {
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  -moz-border-radius-topleft: 50%;
  -webkit-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -webkit-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  -webkit-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  content: ""; }
/* line 43, ../sass/structures/_device.scss */
.device-buttons {
  left: 0.75em;
  top: 8.5px;
  background-color: #fffa6d; }
/* line 49, ../sass/structures/_device.scss */
.device-buttons:before {
  left: 25px;
  background-color: #b52936; }
/* line 54, ../sass/structures/_device.scss */
.device-buttons:after {
  left: 50px;
  background-color: #61be5b; }

/* line 64, ../sass/structures/_device.scss */
.device--desktop {
  padding-top: 32px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 0px 1px 0px 0px #cccccc, 1px 0px 0px 0px #cccccc, -1px 0px 0px 0px #cccccc;
  -moz-box-shadow: 0px 1px 0px 0px #cccccc, 1px 0px 0px 0px #cccccc, -1px 0px 0px 0px #cccccc;
  box-shadow: 0px 1px 0px 0px #cccccc, 1px 0px 0px 0px #cccccc, -1px 0px 0px 0px #cccccc; }

/* line 71, ../sass/structures/_device.scss */
.device--phone {
  max-width: 19.5em;
  -moz-border-radius-topleft: 55px;
  -webkit-border-top-left-radius: 55px;
  border-top-left-radius: 55px;
  -moz-border-radius-topright: 55px;
  -webkit-border-top-right-radius: 55px;
  border-top-right-radius: 55px;
  -moz-border-radius-bottomleft: 55px;
  -webkit-border-bottom-left-radius: 55px;
  border-bottom-left-radius: 55px;
  -moz-border-radius-bottomright: 55px;
  -webkit-border-bottom-right-radius: 55px;
  border-bottom-right-radius: 55px;
  margin-left: 1em;
  margin-right: 1em; }
  @media screen and (max-width: 50em) {
    /* line 71, ../sass/structures/_device.scss */
    .device--phone {
      margin-left: 0;
      margin-right: 0; } }
  /* line 85, ../sass/structures/_device.scss */
  .device--phone .device-image {
    padding: 20.51282% 5.38462%; }
  /* line 89, ../sass/structures/_device.scss */
  .device--phone .device-buttons {
    display: none; }

/* line 94, ../sass/structures/_device.scss */
.device--tablet {
  max-width: 41.25em;
  -moz-border-radius-topleft: 40px;
  -webkit-border-top-left-radius: 40px;
  border-top-left-radius: 40px;
  -moz-border-radius-topright: 40px;
  -webkit-border-top-right-radius: 40px;
  border-top-right-radius: 40px;
  -moz-border-radius-bottomleft: 40px;
  -webkit-border-bottom-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -webkit-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px; }
  /* line 101, ../sass/structures/_device.scss */
  .device--tablet .device-image {
    padding: 4.84848% 3.63636%; }
  /* line 105, ../sass/structures/_device.scss */
  .device--tablet .device-buttons {
    display: none; }

@media screen and (max-width: 41.875em) {
  /* line 111, ../sass/structures/_device.scss */
  .device--phone,
  .device--tablet {
    padding-top: 32px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 0px 1px 0px 0px #cccccc, 1px 0px 0px 0px #cccccc, -1px 0px 0px 0px #cccccc;
    -moz-box-shadow: 0px 1px 0px 0px #cccccc, 1px 0px 0px 0px #cccccc, -1px 0px 0px 0px #cccccc;
    box-shadow: 0px 1px 0px 0px #cccccc, 1px 0px 0px 0px #cccccc, -1px 0px 0px 0px #cccccc; }
    /* line 123, ../sass/structures/_device.scss */
    .device--phone .device-image,
    .device--tablet .device-image {
      padding: 0; }
    /* line 127, ../sass/structures/_device.scss */
    .device--phone .device-buttons,
    .device--tablet .device-buttons {
      display: block; } }

/* line 7, ../sass/structures/_block.scss */
.block {
  position: relative;
  float: left; }

/* line 17, ../sass/structures/_block.scss */
.block-ie {
  width: 100%;
  height: 100%; }

/* line 22, ../sass/structures/_block.scss */
.block-preview {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  display: block;
  overflow: hidden;
  background-color: #5d6975;
  -webkit-transition: background-color 0.33s;
  -moz-transition: background-color 0.33s;
  -o-transition: background-color 0.33s;
  transition: background-color 0.33s; }
  /* line 33, ../sass/structures/_block.scss */
  .block-preview .icon {
    position: relative;
    top: 50%;
    left: 50%;
    width: 60%;
    z-index: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    fill: white; }
  /* line 43, ../sass/structures/_block.scss */
  .block-preview:hover {
    -webkit-transform: initial;
    -moz-transform: initial;
    -ms-transform: initial;
    -o-transform: initial;
    transform: initial; }
    /* line 46, ../sass/structures/_block.scss */
    .block-preview:hover .block-hover {
      width: 425%;
      padding-bottom: 425%;
      opacity: 1;
      -webkit-transition: 2s width cubic-bezier(0.865, 0.05, 0.855, 0.06), 2s padding-bottom cubic-bezier(0.865, 0.05, 0.855, 0.06);
      -moz-transition: 2s width cubic-bezier(0.865, 0.05, 0.855, 0.06), 2s padding-bottom cubic-bezier(0.865, 0.05, 0.855, 0.06);
      -o-transition: 2s width cubic-bezier(0.865, 0.05, 0.855, 0.06), 2s padding-bottom cubic-bezier(0.865, 0.05, 0.855, 0.06);
      transition: 2s width cubic-bezier(0.865, 0.05, 0.855, 0.06), 2s padding-bottom cubic-bezier(0.865, 0.05, 0.855, 0.06); }

/* line 56, ../sass/structures/_block.scss */
.block-previewInner {
  height: 100%; }

/* line 60, ../sass/structures/_block.scss */
.block-cell {
  height: 100%; }

/* line 64, ../sass/structures/_block.scss */
.block-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  padding-bottom: 0;
  -moz-border-radius-topleft: 50%;
  -webkit-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -webkit-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  -webkit-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -moz-border-radius-bottomright: 50%;
  -webkit-border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #263146;
  opacity: 0;
  -webkit-transition: 0.2s width cubic-bezier(1, 0, 1, -0.165), 0.2s padding-bottom cubic-bezier(1, 0, 1, -0.165), 0.4s opacity;
  -moz-transition: 0.2s width cubic-bezier(1, 0, 1, -0.165), 0.2s padding-bottom cubic-bezier(1, 0, 1, -0.165), 0.4s opacity;
  -o-transition: 0.2s width cubic-bezier(1, 0, 1, -0.165), 0.2s padding-bottom cubic-bezier(1, 0, 1, -0.165), 0.4s opacity;
  transition: 0.2s width cubic-bezier(1, 0, 1, -0.165), 0.2s padding-bottom cubic-bezier(1, 0, 1, -0.165), 0.4s opacity;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none; }
  /* line 81, ../sass/structures/_block.scss */
  .bc0 .block-hover {
    background-color: #a74766; }
  /* line 82, ../sass/structures/_block.scss */
  .bc1 .block-hover {
    background-color: #ac3455; }
  /* line 83, ../sass/structures/_block.scss */
  .bc2 .block-hover {
    background-color: #74251f; }
  /* line 84, ../sass/structures/_block.scss */
  .bc3 .block-hover {
    background-color: #b6451a; }
  /* line 85, ../sass/structures/_block.scss */
  .bc4 .block-hover {
    background-color: #cf780c; }

/* line 94, ../sass/structures/_block.scss */
.block--long {
  width: 55%; }

/* line 98, ../sass/structures/_block.scss */
.block--narrow {
  width: 45%; }

/* line 102, ../sass/structures/_block.scss */
.block--half {
  width: 100%;
  height: 50%; }

/* line 107, ../sass/structures/_block.scss */
.block--tall {
  height: 55%; }

/* line 111, ../sass/structures/_block.scss */
.block--short {
  height: 45%; }

@media screen and (max-width: 50em) {
  /* line 122, ../sass/structures/_block.scss */
  .block {
    height: auto; }

  /* line 126, ../sass/structures/_block.scss */
  .block--half {
    padding-bottom: 35%; }

  /* line 130, ../sass/structures/_block.scss */
  .block--tall {
    width: 50%;
    padding-bottom: 35%; }

  /* line 135, ../sass/structures/_block.scss */
  .block--short {
    padding-bottom: 45%; }

  /* line 139, ../sass/structures/_block.scss */
  .block--tall.block--long {
    padding-bottom: 0; } }
@media screen and (max-width: 25em) {
  /* line 149, ../sass/structures/_block.scss */
  .block--tall {
    width: 100%; }

  /* line 153, ../sass/structures/_block.scss */
  .block--half {
    width: 50%; } }
/* line 7, ../sass/structures/_typist.scss */
.typist {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 16, ../sass/structures/_typist.scss */
.typist-highlight {
  position: relative;
  color: white; }
  /* line 20, ../sass/structures/_typist.scss */
  .typist-highlight:after {
    position: absolute;
    top: 50%;
    left: -1px;
    right: -1px;
    display: block;
    height: 100%;
    z-index: -1;
    background-color: #ab3330;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: ''; }

/* line 34, ../sass/structures/_typist.scss */
.typist-normal {
  position: relative;
  z-index: 1; }

/* line 39, ../sass/structures/_typist.scss */
.typist-word {
  display: inline-block; }

/* line 12, ../sass/foundation/_tools.scss */
.bcr {
  background: #ecf0f1; }

/* line 16, ../sass/foundation/_tools.scss */
.bc0 {
  background-color: #713045; }

/* line 20, ../sass/foundation/_tools.scss */
.bc1 {
  background-color: #982e4b; }

/* line 24, ../sass/foundation/_tools.scss */
.bc2 {
  background-color: #b0382f; }

/* line 28, ../sass/foundation/_tools.scss */
.bc3 {
  background-color: #e05723; }

/* line 32, ../sass/foundation/_tools.scss */
.bc4 {
  background-color: #f29727; }

/* line 40, ../sass/foundation/_tools.scss */
.db {
  display: block; }

/* line 44, ../sass/foundation/_tools.scss */
.di {
  display: inline; }

/* line 48, ../sass/foundation/_tools.scss */
.dib {
  display: inline-block; }

/* line 52, ../sass/foundation/_tools.scss */
.dn {
  display: none; }

@media screen and (max-width: 41.875em) {
  /* line 58, ../sass/foundation/_tools.scss */
  .db--s {
    display: block; }

  /* line 62, ../sass/foundation/_tools.scss */
  .dn--s {
    display: none; } }
/* line 71, ../sass/foundation/_tools.scss */
.ofh {
  overflow: hidden; }

/* line 79, ../sass/foundation/_tools.scss */
.w-1of3 {
  width: 33.33%; }
  @media screen and (max-width: 50em) {
    /* line 79, ../sass/foundation/_tools.scss */
    .w-1of3 {
      width: 50%; } }
  @media screen and (max-width: 41.875em) {
    /* line 79, ../sass/foundation/_tools.scss */
    .w-1of3 {
      width: 100%; } }

/* line 96, ../sass/foundation/_tools.scss */
.fl {
  float: left; }

/* line 100, ../sass/foundation/_tools.scss */
.fr {
  float: right; }

/* line 104, ../sass/foundation/_tools.scss */
.fn {
  float: none; }

/* line 112, ../sass/foundation/_tools.scss */
.tac {
  text-align: center; }

/* line 116, ../sass/foundation/_tools.scss */
.th {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }
