/* line 1, ../sass/foundation/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 2, ../sass/foundation/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 3, ../sass/foundation/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 4, ../sass/foundation/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 5, ../sass/foundation/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 6, ../sass/foundation/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

/* line 7, ../sass/foundation/_reset.scss */
del {
  text-decoration: line-through; }

/* line 8, ../sass/foundation/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* line 9, ../sass/foundation/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 10, ../sass/foundation/_reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom; }

/* line 11, ../sass/foundation/_reset.scss */
td {
  font-weight: normal;
  vertical-align: top; }

/* line 12, ../sass/foundation/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 13, ../sass/foundation/_reset.scss */
input, select {
  vertical-align: middle; }

/* line 14, ../sass/foundation/_reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* line 15, ../sass/foundation/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 16, ../sass/foundation/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 17, ../sass/foundation/_reset.scss */
select, input, textarea {
  font: 99% sans-serif; }

/* line 18, ../sass/foundation/_reset.scss */
table {
  font-size: inherit;
  font: 100%; }

/* line 19, ../sass/foundation/_reset.scss */
small {
  font-size: 85%; }

/* line 20, ../sass/foundation/_reset.scss */
strong, th {
  font-weight: bold; }

/* line 21, ../sass/foundation/_reset.scss */
td, td img {
  vertical-align: top; }

/* line 22, ../sass/foundation/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

/* line 23, ../sass/foundation/_reset.scss */
sup {
  top: -0.5em; }

/* line 24, ../sass/foundation/_reset.scss */
sub {
  bottom: -0.25em; }

/* line 25, ../sass/foundation/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* line 26, ../sass/foundation/_reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* line 27, ../sass/foundation/_reset.scss */
button, input, select, textarea {
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

/* line 28, ../sass/foundation/_reset.scss */
button {
  width: auto;
  overflow: visible; }

/* line 29, ../sass/foundation/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 30, ../sass/foundation/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 31, ../sass/foundation/_reset.scss */
html, body {
  min-height: 100%; }

/* line 111, ../sass/foundation/_helpers.scss */
.clearfix {
  zoom: 1; }
  /* line 114, ../sass/foundation/_helpers.scss */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  /* line 118, ../sass/foundation/_helpers.scss */
  .clearfix:after {
    clear: both; }

/* line 8, ../sass/foundation/_base.scss */
html {
  background: #ecf0f1;
  color: #5d6975;
  font-family: "Vollkorn", serif;
  font-size: 20px;
  line-height: 1.6; }

/* line 16, ../sass/foundation/_base.scss */
body {
  font-size: 100%;
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  height: 100%; }

/* line 34, ../sass/foundation/_base.scss */
p, .p,
ul {
  margin-bottom: 0.5em;
  margin-top: 0; }

/* line 57, ../sass/foundation/_base.scss */
h2, .h2 {
  margin-bottom: 0.33333em;
  color: #263146;
  font-family: "Khand", sans-serif;
  font-size: 3em;
  line-height: 0.83333;
  text-transform: uppercase; }

/* line 66, ../sass/foundation/_base.scss */
h3, .h3 {
  margin-bottom: 0.41667em;
  color: #713045;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.33333; }

/* line 83, ../sass/foundation/_base.scss */
h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child,
h3:last-child, .h3:last-child,
h4:last-child, .h4:last-child,
p:last-child, .p:last-child,
ul:last-child {
  margin-bottom: 0; }

/* line 95, ../sass/foundation/_base.scss */
p a,
.p a {
  border-bottom: 1px solid #713045; }

/* line 99, ../sass/foundation/_base.scss */
a {
  color: #713045; }

/*
a {
  border-bottom: $b-border;
  color: $c-highlight;
  text-decoration: none;
  &:hover,
  &:focus {
    border-bottom-color: $c-highlight;
    color: $c-subdue;
  }
}*/
/* line 117, ../sass/foundation/_base.scss */
img {
  height: auto;
  max-width: 100%; }

/* line 15, ../sass/components/_well.scss */
.well {
  margin-top: 10em;
  margin-bottom: 4em; }

/* line 15, ../sass/components/_cell.scss */
.cell {
  position: relative;
  width: 100%;
  max-width: 65em;
  margin-right: auto;
  margin-left: auto; }

/* line 35, ../sass/components/_cell.scss */
.cell--s {
  max-width: 33.5em; }

/* line 39, ../sass/components/_cell.scss */
.cell--m {
  max-width: 40em; }

/* line 43, ../sass/components/_cell.scss */
.cell--half {
  float: left;
  width: 50%;
  max-width: none;
  height: 100%; }

/* line 50, ../sass/components/_cell.scss */
.cell-content--left {
  float: right;
  padding-left: 1em;
  padding-right: 25%; }

/* line 56, ../sass/components/_cell.scss */
.cell-content--right {
  float: left;
  padding-right: 1em;
  padding-left: 25%; }

/* line 15, ../sass/components/_row.scss */
.row {
  position: relative;
  overflow: hidden;
  padding: 0 1em; }

/* line 26, ../sass/components/_row.scss */
.row--window {
  padding: 0;
  height: 100%; }

/* line 8, ../sass/components/_navigation.scss */
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 950;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/* line 19, ../sass/components/_navigation.scss */
.navigationSide {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 950;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; }

/* line 33, ../sass/components/_navigation.scss */
.navigation-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  clip: rect(auto, auto, auto, auto); }

/* line 43, ../sass/components/_navigation.scss */
.navigation-list {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 3em;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  pointer-events: auto;
  line-height: 3em;
  text-align: right; }
  /* line 56, ../sass/components/_navigation.scss */
  .is-open .navigation-list {
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    left: 0;
    width: 50%;
    padding-right: 3em; }

/* line 64, ../sass/components/_navigation.scss */
.navigation-item {
  display: inline-block; }
  /* line 67, ../sass/components/_navigation.scss */
  .navigation-item:last-of-type {
    margin-right: 1em; }

/* line 72, ../sass/components/_navigation.scss */
.navigation-item-link {
  padding: 0 0.25em; }

/* line 76, ../sass/components/_navigation.scss */
.navigation-button {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 3em;
  height: 3em;
  margin-left: -3em;
  pointer-events: auto; }
  /* line 86, ../sass/components/_navigation.scss */
  .navigation-button:nth-of-type(2) {
    margin-left: 0; }
  /* line 90, ../sass/components/_navigation.scss */
  .navigation-button .icon {
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%; }

/* line 100, ../sass/components/_navigation.scss */
.navigation-hamburger {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 40%;
  height: 2px;
  margin-top: -1px;
  margin-left: -20%;
  /* Set Up lines */
  /* Close State */ }
  /* line 113, ../sass/components/_navigation.scss */
  .navigation-hamburger .navigation-hamburger-center, .navigation-hamburger:before, .navigation-hamburger:after {
    position: absolute;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    content: "";
    /* Webkit fix for weird bugs */
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); }
  /* line 125, ../sass/components/_navigation.scss */
  .navigation-hamburger .navigation-hamburger-center {
    top: 0;
    left: 50%;
    margin-left: -50%; }
  /* line 131, ../sass/components/_navigation.scss */
  .navigation-hamburger:before {
    top: -7px; }
  /* line 135, ../sass/components/_navigation.scss */
  .navigation-hamburger:after {
    top: 7px; }
  /* line 143, ../sass/components/_navigation.scss */
  .is-open .navigation-hamburger .navigation-hamburger-center, .is-open .navigation-hamburger:before, .is-open .navigation-hamburger:after {
    -webkit-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  /* line 147, ../sass/components/_navigation.scss */
  .is-open .navigation-hamburger:after {
    -webkit-transform: rotate(-45deg) translate(2px, 4px);
    -moz-transform: rotate(-45deg) translate(2px, 4px);
    -ms-transform: rotate(-45deg) translate(2px, 4px);
    -o-transform: rotate(-45deg) translate(2px, 4px);
    transform: rotate(-45deg) translate(2px, 4px);
    transform-origin: bottom left; }
  /* line 152, ../sass/components/_navigation.scss */
  .is-open .navigation-hamburger:before {
    -webkit-transform: rotate(45deg) translate(1px, -3px);
    -moz-transform: rotate(45deg) translate(1px, -3px);
    -ms-transform: rotate(45deg) translate(1px, -3px);
    -o-transform: rotate(45deg) translate(1px, -3px);
    transform: rotate(45deg) translate(1px, -3px);
    transform-origin: bottom left; }
  /* line 157, ../sass/components/_navigation.scss */
  .is-open .navigation-hamburger .navigation-hamburger-center {
    width: 0;
    margin-left: 0;
    opacity: .5; }

/* line 165, ../sass/components/_navigation.scss */
.navigationSide-list {
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: auto; }

/* line 173, ../sass/components/_navigation.scss */
.navigationSide-item {
  position: relative;
  list-style: none; }
  /* line 177, ../sass/components/_navigation.scss */
  .navigationSide-item:hover .navigationSide-dot {
    opacity: .7; }
  /* line 180, ../sass/components/_navigation.scss */
  .navigationSide-item:hover .navigationSide-text {
    right: 1.33333em;
    opacity: 1; }
  /* line 186, ../sass/components/_navigation.scss */
  .navigationSide-item.is-current .navigationSide-dot {
    opacity: 1;
    -webkit-box-shadow: inset 0 0 0 8px white;
    -moz-box-shadow: inset 0 0 0 8px white;
    box-shadow: inset 0 0 0 8px white; }

/* line 193, ../sass/components/_navigation.scss */
.navigationSide-dot {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* line 204, ../sass/components/_navigation.scss */
.navigationSide-text {
  position: absolute;
  top: 50%;
  right: 3.33333em;
  margin-top: -0.72222em;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #ecf0f1;
  font-size: 14px; }

/* line 225, ../sass/components/_navigation.scss */
.navigation-button--bcr .navigation-hamburger-center, .navigation-button--bcr
.navigation-hamburger:before, .navigation-button--bcr
.navigation-hamburger:after {
  background: #ecf0f1; }
/* line 229, ../sass/components/_navigation.scss */
.navigation-button--bc0 .navigation-hamburger-center, .navigation-button--bc0
.navigation-hamburger:before, .navigation-button--bc0
.navigation-hamburger:after {
  background: #713045; }
/* line 233, ../sass/components/_navigation.scss */
.navigation-button--bc1 .navigation-hamburger-center, .navigation-button--bc1
.navigation-hamburger:before, .navigation-button--bc1
.navigation-hamburger:after {
  background: #982e4b; }
/* line 237, ../sass/components/_navigation.scss */
.navigation-button--bc2 .navigation-hamburger-center, .navigation-button--bc2
.navigation-hamburger:before, .navigation-button--bc2
.navigation-hamburger:after {
  background: #b0382f; }
/* line 241, ../sass/components/_navigation.scss */
.navigation-button--bc3 .navigation-hamburger-center, .navigation-button--bc3
.navigation-hamburger:before, .navigation-button--bc3
.navigation-hamburger:after {
  background: #e05723; }
/* line 245, ../sass/components/_navigation.scss */
.navigation-button--bc4 .navigation-hamburger-center, .navigation-button--bc4
.navigation-hamburger:before, .navigation-button--bc4
.navigation-hamburger:after {
  background: #f29727; }

/* line 252, ../sass/components/_navigation.scss */
.navigation-button--bcr .icon {
  fill: #ecf0f1; }

/* line 256, ../sass/components/_navigation.scss */
.navigation-button--bc0 .icon {
  fill: #713045; }

/* line 260, ../sass/components/_navigation.scss */
.navigation-button--bc1 .icon {
  fill: #982e4b; }

/* line 264, ../sass/components/_navigation.scss */
.navigation-button--bc2 .icon {
  fill: #b0382f; }

/* line 268, ../sass/components/_navigation.scss */
.navigation-button--bc3 .icon {
  fill: #e05723; }

/* line 272, ../sass/components/_navigation.scss */
.navigation-button--bc4 .icon {
  fill: #f29727; }

/* line 279, ../sass/components/_navigation.scss */
.navigation-item-link--tcr {
  color: #ecf0f1; }

/* line 283, ../sass/components/_navigation.scss */
.navigation-item-link--tc0 {
  color: #713045; }

/* line 287, ../sass/components/_navigation.scss */
.navigation-item-link--tc1 {
  color: #982e4b; }

/* line 291, ../sass/components/_navigation.scss */
.navigation-item-link--tc2 {
  color: #b0382f; }

/* line 295, ../sass/components/_navigation.scss */
.navigation-item-link--tc3 {
  color: #e05723; }

/* line 299, ../sass/components/_navigation.scss */
.navigation-item-link--tc4 {
  color: #f29727; }

/* line 7, ../sass/components/_table.scss */
.table {
  display: table;
  width: 100%;
  height: 100%; }

/* line 17, ../sass/components/_table.scss */
.table-cell {
  display: table-cell; }

/* line 21, ../sass/components/_table.scss */
.table-cell--middle {
  vertical-align: middle; }

/* line 8, ../sass/components/_canvas.scss */
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 16, ../sass/components/_work.scss */
.work-h2 {
  margin-bottom: 1em; }

/* line 21, ../sass/components/_work.scss */
.work-skills {
  margin-top: 1em; }

/* line 25, ../sass/components/_work.scss */
.work-skill {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #b0382f;
  list-style: none;
  color: #ecf0f1;
  font-style: italic; }

/* line 35, ../sass/components/_work.scss */
.work-content {
  margin-bottom: 4em; }
  /* line 38, ../sass/components/_work.scss */
  .work-content:last-child {
    margin-bottom: 0; }

/* line 43, ../sass/components/_work.scss */
.work-launch {
  text-align: right; }
  /* line 46, ../sass/components/_work.scss */
  .work-launch svg {
    position: relative;
    top: 3px;
    fill: #713045; }

/* line 53, ../sass/components/_work.scss */
.work-image {
  width: 100%; }

/*
.bch {
  background: $c-highlight;
}

.bci {
  background: $c-background-invert;
}

.bcs {
  background: $c-subdue;
}*/
/* line 24, ../sass/foundation/_tools.scss */
.bcr {
  background: #ecf0f1; }

/* line 28, ../sass/foundation/_tools.scss */
.bc0 {
  background-color: #713045; }

/* line 32, ../sass/foundation/_tools.scss */
.bc1 {
  background-color: #982e4b; }

/* line 36, ../sass/foundation/_tools.scss */
.bc2 {
  background-color: #b0382f; }

/* line 40, ../sass/foundation/_tools.scss */
.bc3 {
  background-color: #e05723; }

/* line 44, ../sass/foundation/_tools.scss */
.bc4 {
  background-color: #f29727; }

/* line 52, ../sass/foundation/_tools.scss */
.db {
  display: block; }

/* line 56, ../sass/foundation/_tools.scss */
.di {
  display: inline; }

/* line 60, ../sass/foundation/_tools.scss */
.dib {
  display: inline-block; }

/* line 64, ../sass/foundation/_tools.scss */
.dn {
  display: none; }

/* line 323, ../sass/foundation/_tools.scss */
.fl {
  float: left; }

/* line 327, ../sass/foundation/_tools.scss */
.fr {
  float: right; }

/* line 331, ../sass/foundation/_tools.scss */
.poa {
  position: absolute; }

/* line 335, ../sass/foundation/_tools.scss */
.pof {
  position: fixed; }

/* line 339, ../sass/foundation/_tools.scss */
.por {
  position: relative; }

/* line 343, ../sass/foundation/_tools.scss */
.pos {
  position: static; }

/* line 351, ../sass/foundation/_tools.scss */
.ra {
  border-radius: 50%; }

/*
.ram {
  border-radius: $b-borderRadius;
}*/
/* line 359, ../sass/foundation/_tools.scss */
.ran {
  border-radius: 0; }

/* line 369, ../sass/foundation/_tools.scss */
.tac {
  text-align: center; }

/*
.tch {
  color: $c-highlight;
}

.tci {
  color: $c-text-invert;
}

.tcs {
  color: $c-subdue;
}

.tct {
  color: $c-text;
}*/
/* line 393, ../sass/foundation/_tools.scss */
.tfb {
  font-family: "Vollkorn", serif; }

/* line 397, ../sass/foundation/_tools.scss */
.tfh {
  font-family: "Khand", sans-serif; }

/*
.tsxs {
  font-size: $b-fontSize-xs;
}

.tss {
  font-size: $b-fontSize-s;
}

.tsm {
  font-size: $b-fontSize-m;
}*/
/* line 415, ../sass/foundation/_tools.scss */
.tsl {
  font-size: 1.2em; }

/* line 419, ../sass/foundation/_tools.scss */
.tsxl {
  font-size: 3em; }

/* line 425, ../sass/foundation/_tools.scss */
.tsi {
  font-style: italic; }

/* line 431, ../sass/foundation/_tools.scss */
.ttu {
  text-transform: uppercase; }

/* line 437, ../sass/foundation/_tools.scss */
.twn {
  font-weight: normal; }

/* line 441, ../sass/foundation/_tools.scss */
.twb {
  font-weight: bold; }
