<div nav color-index="0"></div>

<section class="row">
	<div class="well">
		
		<div class="cell cell--m">
			<h2 class="h2 h2--mbl tac">Mike A Hurwitz</h2>
			
			<div class="section">

				<h4 class="h4 bc2">Experience</h4>
				
				<div class="section-inner">
					<h3 class="h3"><a href="http://rightbrainmedia.com/" target="_blank">RiGHT BRAiN MEDiA</a></h3>
					<p class="p p--h">Developer, Sep 2015 - Current</p>
					<ul class="list p">
						<li>Work as a part of a team on large SPAs utilizing the MEAN Stack (MongoDB, Express, AngularJS, Node.js).</li>
						<li>Communicate continually with engineering, design, and project leads. Deliver progress updates and help meet rapid lifecycle of product development deadlines.</li>
						<li>Contribute to continuous improvement of projects, executing new features and refactoring as needed.</li>
						<li>Assist with production tasks such as testing, debugging, automation, and QA.</li>
					</ul>
				</div>

				<div class="section-inner">
					<h3 class="h3"><a href="http://monstermedia.net" target="_blank">Monster Media</a></h3>
					<p class="p p--h">Web Developer, Dec 2014 - Sep 2015</p>
					<ul class="list p">
						<li>Expand code base and add new functionality to existing web applications, using various technologies including CakePHP, WordPress, and AngularJS.</li>
						<li>Rebuild from ground up a complex CMS used to build, customize, moderate, and manage SWF applications.</li>
						<li>Work on web applications and mobile sites of varying function, from custom internal CMSs to a client facing interactive mobile game.</li>
						<li>Quickly understand complex pre-existing systems to investigate and resolve backlogged bugs.</li>
					</ul>
				</div>

				<div class="section-inner">
					<h3 class="h3"><a href="http://bigeyeagency.com" target="_blank">BIGEYE Agency</a></h3>
					<p class="p p--h">Web Developer, Mar 2012 - Dec 2014</p>
					<ul class="list p">
						<li>BIGEYE’s sole web developer responsible for all web projects, including <a ui-sref="work({slug: 'turnkey'})">Turnkey Media Solutions</a>, <a ui-sref="work({slug: 'play-it-forward'})">Kohl's Play it Forward</a>, and <a ui-sref="work({slug: 'the-first-academy'})">The First Academy</a>.</li>
						<li>Collaborate with art department on major projects from brain storming to completion as a lead developer advocating for consistency, the user experience, and pushing the envelope.</li>
						<li>Oversee contract developers to ensure quality projects are delivered to the client on time.</li>
						<li>Produce web development workflow process, from defining deployment process to creating a starter front end template.</li>
					</ul>
				</div>
			
			</div>

			<div class="section">

				<h4 class="h4 bc3">Education</h4>
				
				<div class="section-inner">
					<h3 class="h3">University of Central Florida</h3>
					<p class="p p--h">Bachelor of Arts in Digital Media (Web Design Track), Information Technology Minor, 2011</p>
				</div>
			
			</div>

			<div class="section">

				<h4 class="h4 bc4">Skills</h4>
				
				<div class="section-inner clearfix">
					<div class="g">
						<div class="p clearfix">
							<div class="g-b g-b--1of4 g-b--s--1of1 p--h">Languages & Databases</div>
							<div class="g-b g-b--3of4 g-b--s--1of1">HTML5, CSS3/SASS, JavaScript, PHP, MySQL</div>
						</div>

						<div class="p clearfix">
							<div class="g-b g-b--1of4 g-b--s--1of1 p--h">Libraries, CMSs, & Frameworks</div>
							<div class="g-b g-b--3of4 g-b--s--1of1">AngularJS, Node.js, WordPress Theme Development, jQuery, CakePHP</div>
						</div>

						<div class="p clearfix">
							<div class="g-b g-b--1of4 g-b--s--1of1 p--h">Tools</div>
							<div class="g-b g-b--3of4 g-b--s--1of1">Git, Grunt, Command Line, Photoshop, Compass</div>
						</div>

						<div class="p clearfix">
							<div class="g-b g-b--1of4 g-b--s--1of1 p--h">Misc</div>
							<div class="g-b g-b--3of4 g-b--s--1of1">Responsive Design, Website Optimization, Cross Browser Compatibility, LAMP Stack, MVC/MVW, API Integration, Modular Programming</div>
						</div>
					</div>
				</div>
			
			</div>

			<h3 class="h3 resumeLine">
				<span class="resumeLine-infoWrap">
					<a href="mailto:mike@hrwtz.com" class="resumeLine-link">mike@hrwtz.com</a>
					<span class="resumeLine-dot">•</span>
					<a href="tel:772.678.0778" class="resumeLine-link">772.678.0778</a>
					<span class="print-only"><br>hrwtz.com <span class="resumeLine-dot">•</span> Orlando, Florida</span>
				</span>
				<span class="resumeLine-iconWrap">
					<a href="assets/misc/resume.pdf" download="Mike A Hurwitz - Front End Developer.pdf" class="resumeLine-icon resumeLine-icon--pdf">
						<span svg id="icon-pdf" title="Download PDF" fallback="true"></span>
					</a>
					<a href="javascript:if(window.print)window.print()" class="resumeLine-icon resumeLine-icon--print" >
						<span svg id="icon-print" title="Print" fallback="true"></span>
					</a>
				</span>
			</h3>


		</div>
	
	</div>
</section>